
@{
    ViewBag.Title = "青教管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Apartment.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title <small>horizontal mega menu & sidebar menu layout</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Apartment")">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">青教主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Horizontal & Sidebar Menu</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        Page content goes here
    </div>
</div>
<!-- END PAGE CONTENT-->
@section scripts {
    <script type="text/javascript">
        $(function () {
            Rhea.topNavActive($('#apartment-nav'));
            Rhea.leftNavActive($('#apartment-home-menu'));
        });
    </script>
}
