@model IEnumerable<Rhea.Model.Personnel.Department>

@{
    ViewBag.Title = "DropdownList";
    Layout = null;
}

<select id="DepartmentId" name="DepartmentId">
    <option value="">-- 请选择 --</option>
    @{
        foreach (var item in Model)
        {
        <option value="@item.Id">
            @item.Name
        </option>
        }
    }
</select>
