@model Rhea.UI.Models.DepartmentHistoryModel
@{
    ViewBag.Title = "部门历史数据";
    Layout = null;
}

<div class="page-header">
    <h3>
        @ViewBag.Title</h3>
</div>

<div class="row-fluid">
    <div class="span12">
        <select id="archive-list">
            <option value="">--- 当前 ---</option>
        @foreach (var item in Model.DepartmentArchiveList)
        {
            <option value="@item._id.ToString()">@item.RelateTime.Value.ToLongDateString()</option>
        }
        </select>        
    </div>
</div>

<div id="department-archive-indicator">
</div>

<div id="department-archive">
</div>


<script type="text/javascript">
    $(function () {
        var departmentId = '@Model.DepartmentId';
        loadArchiveIndicator(departmentId, "");
        loadArchiveDepartment(departmentId, "");

        $('#archive-list').change(function () {
            var aid = $(this).val();

            loadArchiveIndicator(departmentId, aid);
            loadArchiveDepartment(departmentId, aid);
        });

        function loadArchiveRoom(departmentId, logId) {
            $.getJSON('/Department/GetArchiveRoom', { id: departmentId, logId: logId }, function (response) {
                $('#room-count').text(response.length);
                var totalArea = 0.0;
                $.each(response, function (i, item) {
                    totalArea = totalArea + item.UsableArea;
                });
                $('#total-area').text(totalArea.toFixed(2));
            });
        }

        function loadArchiveIndicator(departmentId, logId) {
            $.get('/Department/GetArchiveIndicator', { id: departmentId, logId: logId }, function (response) {
                $('#department-archive-indicator').html(response);
            });
        }


        function loadArchiveDepartment(departmentId, logId) {
            $.get('/Department/GetArchiveDepartment', { id: departmentId, logId: logId }, function (response) {
                $('#department-archive').html(response);
            });
        }
    });
</script>
