@model int
@{
    //ViewBag.Title = "部门主页";
}

<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">导航</li>
            <li class="active"><a href="#" id="department-summary">概况</a></li>
            <li><a href="#" id="department-details">详细</a></li>
            <li><a href="#" id="department-statistic">统计</a></li>       
            <li class="nav-header" id="building-list">楼宇列表</li> 
            <li class="nav-header">房屋信息</li>
            <li><a href="#" id="room-list">房间列表</a></li>
        </ul>
    </div>
</div>

<div class="span10">
    <div id="ajax-content1">
    @Html.Action("Summary", "Department", new { area = "", id = Model })
    </div>
</div>


@section scripts {
<script type="text/javascript">
    $(function () {
        $.getJSON('/Estate/Building/GetListByDepartment', { departmentId: @Model }, function (response) {
            var text = [];
            $.each(response, function(i, item) {
                text.push("<li><a href='#' class='building-index' ref='" + item.Id + "'>" + item.Name + "</a></li>");
            });
            text = text.join('');
            $('li#building-list').after(text);

            $('a.building-index').click(function() {
                menuNavActive($(this));
                var buildingId = $(this).attr('ref');
                ajaxLoadPage2("Building", "Department", { id: @Model, buildingId: buildingId });
                return false;
            });
        });

        $('a#department-summary').click(function() {
            menuNavActive($(this));
            ajaxLoadPage2("Summary", "Department", { id: @Model });
            return false;
        });

        $('a#department-statistic').click(function() {
            menuNavActive($(this));
            ajaxLoadPage2("Statistic", "Department", { id: @Model });
            return false;
        });

        $('a#room-list').click(function() {
            menuNavActive($(this));
            ajaxLoadPage("ListByDepartment", "Room", "Estate", { departmentId: @Model });
            return false;
        });
    });
</script>
}