@{
    ViewBag.Title = "Index";
}

<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">导航</li>
            <li class="active"><a href="#" id="building-group-summary">概况</a></li>
            <li><a href="#" id="building-group-details">详细</a></li>      
            <li class="nav-header" id="building-list">楼宇列表</li>          
            <li><a href="#">A</a></li>
            <li><a href="#">B</a></li>
            <li><a href="#">C</a></li>
        </ul>
    </div>
</div>

<div class="span10">
    <div id="ajax-content1">      
    </div>
</div>
