@model Rhea.Data.Personnel.DepartmentIndicatorModel

@{
    Layout = null;
    ViewBag.Title = "用房指标";
}

<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
            <h4>用房指标</h4>
        </div>
             
        <table class="responsive table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:25%;">属性</th>
                    <th>值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>房间总数</td>
                    <td>@Model.RoomCount</td>
                </tr>
                <tr>
                    <td>应有面积(m<sup>2</sup>)</td>
                    <td>@Model.DeservedArea</td>
                </tr>
                <tr>
                    <td>总面积(m<sup>2</sup>)</td>
                    <td>@Model.ExistingArea</td>
                </tr>
                <tr>
                    <td>定额率</td>
                    <td>@Model.Overproof</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
