@model Rhea.Model.Personnel.Department

@{
    ViewBag.Title = "部门统计";
    Layout = null;
}

<div class="row-fluid"> 
    <div class="span12">
        @Html.Action("ClassifyArea", new { controller = "Department", area = "", id = Model.Id })
    </div>    
</div>

