@model IEnumerable<Rhea.Data.Entities.Department>
@{
    ViewBag.Title = "部门导航";
    Layout = null;
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h3>
            部门导航</h3>
        <div class="box-icon">
            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
        </div>
    </div>
    <div class="box-content k-content">
        <ul id="department-treeview">
            <li><a><span>教学院系</span></a>
                <ul>
                    @foreach (var item in Model.Where(r => r.Type == 1))
                    {
                        <li><a class="department" href="#" ref="@item.Id"><span>@item.Name</span></a></li>
                }
                </ul>
            </li>
            <li><a><span>部门机构</span></a>
                <ul>
                    @foreach (var item in Model.Where(r => r.Type != 1))
                    {
                        <li><a class="department" href="#" ref="@item.Id"><span>@item.Name</span></a></li>
                }
                </ul>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#department-treeview").kendoTreeView();

        $('a.department').click(function () {
            var departmentId = $(this).attr('ref');
            var request = { id: departmentId };
            ajaxLoadPage2("Index", "Department", request);
            return false;
        });

    });
        
</script>
