@{
    ViewBag.Title = "部门列表";
    Layout = null;
}

<div class="heading">
    <h3>@ViewBag.Title</h3>

    @Html.Action("SearchInline", new { controller = "Home", area = "" })
                    
    <ul class="breadcrumb">
        <li>你的位置:</li>
        <li>
            <a href="#" class="tip" title="回到首页">
                <span class="icon16 icomoon-icon-home "></span>
            </a> 
            <span class="divider">
                <span class="icon16 icomoon-icon-arrow-right-2"></span>
            </span>
        </li>
        <li class="active">房产概况</li>
    </ul>

</div><!-- End .heading-->

<div class="row-fluid">
    <div class="span12">
        @Html.Action("List", new { controller = "Department", area = "" })
    </div>
</div>
