@{
    ViewBag.Title = "学院房屋数据";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section breadcrumb {
    <li>@Html.ActionLink("房产管理", "Index", new { controller = "Home", area = "Estate" })</li>
}
<div class="row-fluid sortable">
    <div class="span12">
        <div id="ajax-content1">            
            @Html.Action("List", "BuildingGroup", new { area = "Estate" })
        </div>
    </div>   
</div>
<!--/row-->

@section scripts {
    
}
