@{
    ViewBag.Title = "部门列表";
    Layout = null;
}

@Html.Action("Heading", new { controller = "Common", area = "", title = ViewBag.Title, active = "房产概况" })

<div class="row-fluid">
    <div class="span12">
        @Html.Action("List", new { controller = "Department", area = "" })
    </div>
</div>

<script type="text/javascript">
    $(function () {
        setBoxAction();
    });
</script>
