@{
    ViewBag.Title = "房产概况";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!--Responsive navigation button-->  
<div class="resBtn">
    <a href="#"><span class="icon16 minia-icon-list-3"></span></a>
</div>
        
<!--Left Sidebar collapse button-->  
<div class="collapseBtn leftbar">
    <a href="#" class="tip" data-placement="bottom" data-toggle="tooltip" title="Hide"><span class="icon12 minia-icon-layout"></span></a>
</div>

<!--Sidebar background-->
<div id="sidebarbg"></div>

<!--Sidebar content-->
<div id="sidebar">
    <div class="shortcuts">
        <ul>
            <li><a href="#" title="Support section" class="tip" data-placement="bottom" data-toggle="tooltip"><span class="icon24 icomoon-icon-support"></span></a></li>
            <li><a href="#" title="Database backup" class="tip" data-placement="bottom" data-toggle="tooltip"><span class="icon24 icomoon-icon-database"></span></a></li>
            <li><a href="#" title="Sales statistics" class="tip" data-placement="bottom" data-toggle="tooltip"><span class="icon24 icomoon-icon-pie-2"></span></a></li>
            <li><a href="#" title="Write post" class="tip" data-placement="bottom" data-toggle="tooltip"><span class="icon24 icomoon-icon-pencil"></span></a></li>
        </ul>
    </div>

    <div class="sidenav">

        <div class="sidebar-widget" style="margin: -1px 0 0 0;">
            <h5 class="title" style="margin-bottom:0">导航</h5>
        </div><!-- End .sidenav-widget -->

        <div class="mainnav">
            <ul>
                <li><a href="#" id="summary"><span class="icon16 icomoon-icon-newspaper"></span>摘要</a></li>
                <li><a href="#"><span class="icon16 icomoon-icon-font"></span>土地证</a></li>
                <li><a href="#" id="building-group-list"><span class="icon16 icomoon-icon-grid-view"></span>楼群列表</a></li>
                <li><a href="#" id="department-list"><span class="icon16 icomoon-icon-calendar"></span>部门列表</a></li>
               
            </ul>
        </div>
    </div><!-- End sidenav -->

    <div class="sidebar-widget">
        <h5 class="title">附加显示数据1</h5>
        <div class="content">
            <span class="icon16 icomoon-icon-loop left"></span>
            <div class="progress progress-mini progress-danger left tip" title="87%">
                <div class="bar" style="width: 87%;"></div>
            </div>
            <span class="percent">87%</span>
            <div class="stat">19419.94 / 12000 MB</div>
        </div>

    </div><!-- End .sidenav-widget -->

    <div class="sidebar-widget">
        <h5 class="title">附加显示数据2</h5>
        <div class="content">
            <span class="icon16 icomoon-icon-drive left"></span>
            <div class="progress progress-mini progress-success left tip" title="16%">
                <div class="bar" style="width: 16%;"></div>
            </div>
            <span class="percent">16%</span>
            <div class="stat">304.44 / 8000 MB</div>
        </div>
    </div><!-- End .sidenav-widget -->

    <div class="sidebar-widget">
        <h5 class="title">附加显示数据3</h5>
        <div class="content">
            <div class="rightnow">
                <ul class="unstyled">
                    <li><span class="number">34</span><span class="icon16 icomoon-icon-new-2"></span>Posts</li>
                    <li><span class="number">7</span><span class="icon16 icomoon-icon-file"></span>Pages</li>
                    <li><span class="number">14</span><span class="icon16 icomoon-icon-list-view"></span>Categories</li>
                    <li><span class="number">201</span><span class="icon16 icomoon-icon-tag"></span>Tags</li>
                </ul>
            </div>
        </div>
    </div><!-- End .sidenav-widget -->

</div><!-- End #sidebar -->

<!--Body content-->
<div id="content" class="clearfix">
    <div class="contentwrapper">        
        <!-- Build page from here: -->
        <div id="ajax-content1">            
            @Html.Action("Summary", new { controller = "Home", area = "Estate" })
        </div>
        <!--End page -->
                
    </div>
</div><!-- End #content -->

@section scripts {
<script type="text/javascript">
    $(function () {
        $('.navbar .nav #nav-summary').parent().addClass('active');
        $('.tip').tooltip();

        $('a#summary').click(function() {           
            ajaxLoadPage("Summary", "Home", "Estate", {});
            return false;
        });

        $('a#building-group-list').click(function() {
            ajaxLoadPage("BuildingGroupList", "Home", "Estate", {});
            return false;
        });

        $('a#department-list').click(function () {
            ajaxLoadPage("DepartmentList", "Home", "Estate", {});
            return false;
        });        
    });
</script>
}