@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-block alert-info fade in">
            <button type="button" class="close" data-dismiss="alert"></button>           
            <p>
                @ViewBag.Message
            </p>            
        </div>
    </div>
</div>
