@model Rhea.Data.Entities.UserProfile

@{
    ViewBag.Title = "用户信息";    
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-th-list"></i>用户信息</h2>
    </div>
    <div class="box-content">
        <div class="page-header">
            <h1>
                @Model.UserName <small>Id: @Model.Id</small></h1>
        </div>
        <div class="row-fluid">
            <div class="span7">
                <h3>
                    介绍</h3>
                <p>@Model.LastLoginTime</p>
                <p>@Model.CurrentLoginTime</p>
            </div>          
        </div>
    </div>
</div>
