@{
    ViewBag.Title = "用户信息";
}


<!--Responsive navigation button-->
<div class="resBtn">
    <a href="#"><span class="icon16 minia-icon-list-3"></span></a>
</div>

<!--Left Sidebar collapse button-->
<div class="collapseBtn leftbar">
    <a href="#" class="tipR" title="Hide Left Sidebar"><span class="icon12 minia-icon-layout">
    </span></a>
</div>

<!--Sidebar background-->
<div id="sidebarbg">
</div>

<!--Sidebar content-->
<div id="sidebar">
    <div class="shortcuts">
        <ul>
            <li><a href="#" title="Support" class="tip"><span class="icon24 icomoon-icon-support">
            </span></a></li>
            <li><a href="#" title="Backup" class="tip"><span class="icon24 icomoon-icon-database">
            </span></a></li>
            <li><a href="#" title="Statistics" class="tip"><span class="icon24 icomoon-icon-pie-2">
            </span></a></li>
            <li><a href="#" title="Request" class="tip"><span class="icon24 icomoon-icon-pencil">
            </span></a></li>
        </ul>
    </div>

    <div class="sidenav">
        <div class="sidebar-widget" style="margin: -1px 0 0 0;">
            <h5 class="title" style="margin-bottom: 0">
                导航</h5>
        </div>
        <!-- End .sidenav-widget -->
        <div class="mainnav">
            <ul>
                <li><a href="#" id="summary"><span class="icon16 icomoon-icon-newspaper"></span>摘要</a></li>              
            </ul>
        </div>
    </div>
    <!-- End sidenav -->
</div>
<!-- End #sidebar -->

<!--Body content-->
<div id="content" class="clearfix">
    <div class="contentwrapper">
        <!-- Build page from here: -->
        <div id="ajax-content1">
        @Html.Action("Summary", new { controller = "Account", area = "" })
        </div>
        <!--End page -->
    </div>
</div>
<!-- End #content -->


@section scripts {
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(function () {
        $('a#summary').click(function () {
            ajaxLoadPage2("summary", "Account", {});
            return false;
        });
    });
</script>
}
