@{
    ViewBag.Title = "归档数据";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Estate.cshtml";
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-tasks"></i>@ViewBag.Title</h2>
    </div>

    <div class="box-content">
        <div class="row-fluid">
            <div class="span12">
            @using (Html.BeginForm(new { action = "Archive", controller = "Room", area = "Admin" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>归档房间</legend>

                    <label>选择日期</label>
                    <input type="text" name="archiveDate" id="archiveDate" />

                    <p>
                        <button type="submit" class="btn btn-primary">保存</button>                       
                    </p>
                </fieldset>
            }
            </div>
        </div>
        
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var menu = $('a#archive-task');
        menuNavActive(menu);

        $('#archiveDate').datepicker({ format: 'yyyy-mm-dd' });
    });
</script>
