@{
    ViewBag.Title = "导出数据";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Estate.cshtml";
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-tasks"></i>@ViewBag.Title</h2>
    </div>

    <div class="box-content">
        <p>
            <a class="btn btn-primary" href="@Url.Action("Export", new { controller = "BuildingGroup", area = "Admin" })"><i class="icon-download icon-white"></i>导出楼群</a>
            <a class="btn btn-primary" href="@Url.Action("Export", new { controller = "Building", area = "Admin" })"><i class="icon-download icon-white"></i>导出楼宇</a>
            <a class="btn btn-primary" href="@Url.Action("Export", new { controller = "Room", area = "Admin" })"><i class="icon-download icon-white"></i>导出房间</a>
        </p>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var menu = $('a#export-task');
        menuNavActive(menu);
    });
</script>