
@{
    ViewBag.Title = "房产管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-2 col-md-2">
        @Html.Action("Menu")
    </div>

    <div class="col-lg-10 col-md-10">
        房产管理
    </div>
</div>

