@model string

<select id="AirCondition" name="AirCondition">
    <option value="">-- 请选择 --</option>
    @foreach (AirCondition o in Enum.GetValues(typeof(AirCondition)))
    {                      
        <option value="@o" @(Model == o.ToString() ? "selected='selected'" : "")>@o</option>
    }
</select>