@model string
@using Rhea.Business.Estate

<select id="BuildType" name="BuildType">
    <option value="">-- 请选择 --</option>
    @{
        EstateDictionaryBusiness business = new EstateDictionaryBusiness();
        var dict = business.GetDict("BuildType");
        
        foreach(string item in dict)
        {
            <option value="@item" @(Model == item ? "selected='selected'" : "")>@item</option>
        }
    }  
</select>