@model int?

<select class="form-control" id="OrganizeType" name="OrganizeType">
    <option value="">-- 请选择 --</option>
    @foreach (BuildingOrganizeType o in Enum.GetValues(typeof(BuildingOrganizeType)))
    {
        <option value="@Convert.ToInt32(o)" @(Model == (int)o ? "selected='selected'" : "")>@o.DisplayName()</option>
    }
</select>