@using Rhea.Business.Estate
@using Rhea.Model.Estate
@model int?

<select id="BuildingGroupId" name="BuildingGroupId">
    <option value="">-- 请选择 --</option>
    @{
        IBuildingGroupBusiness business = new MongoBuildingGroupBusiness();
        List<BuildingGroup> groups = business.GetList();

        foreach (var item in groups)
        {
        <option value="@item.Id" @(Model == item.Id ? "selected='selected'" : "")>
            @item.Name
        </option>
        }
    }
</select>
