@using Rhea.Business.Personnel
@using Rhea.Model.Personnel
@model int?

<select id="DepartmentId" name="DepartmentId">
    <option value="">-- 请选择 --</option>
    @{
        IDepartmentBusiness departmentBusiness = new MongoDepartmentBusiness();
        var departments = departmentBusiness.GetList().OrderBy(r => r.Id);

        foreach (var item in departments)
        {
        <option value="@item.Id" @(Model == item.Id ? "selected='selected'" : "")>
            @item.Name
        </option>
        }
    }
</select>