@model string

<select class="form-control"  id="FireControl" name="FireControl">
    <option value="">-- 请选择 --</option>
    @{
        DictionaryBusiness business = new DictionaryBusiness();
        var dict = business.GetTextProperty("FireControl");

        foreach (string item in dict)
        {
            <option value="@item" @(Model == item ? "selected='selected'" : "")>@item</option>
        }
    }
</select>
