@using Rhea.Business.Estate
@using Rhea.Model.Estate
@model string

<select id="FunctionCodeId" name="FunctionCodeId">
    <option value="">-- 请选择 --</option>
    @{
        EstateDictionaryBusiness business = new EstateDictionaryBusiness();
        List<RoomFunctionCode> codes = business.GetRoomFunctionCode();

        foreach (var item in codes)
        {
        <option value="@item.CodeId" @(Model == item.CodeId ? "selected='selected'" : "")>
            @item.CodeId - @item.FunctionProperty
        </option>
        }
    }
</select>