@model string
@using Rhea.Business.Estate

<select id="FundsSubject" name="FundsSubject">
    <option value="">-- 请选择 --</option>
    @{
        IDictionaryBusiness business = new EstateDictionaryBusiness();
        var dict = business.GetDict("FundsSubject");
        
        foreach(string item in dict)
        {
            <option value="@item" @(Model == item ? "selected='selected'" : "")>@item</option>
        }
    }  
</select>
