@model string
@using Rhea.Business

<select class="form-control" id="FundsSubject" name="FundsSubject">
    <option value="">-- 请选择 --</option>
    @{
        DictionaryBusiness business = new DictionaryBusiness();
        var dict = business.Get("FundsSubject");

        foreach (string item in dict.Property)
        {
            <option value="@item" @(Model == item ? "selected='selected'" : "")>@item</option>
        }
    }
</select>

