@using Rhea.Business.Account
@using Rhea.Model.Account
@model int?

<select id="ManagerGroupId" name="ManagerGroupId">
    <option value="0">-- 请选择 --</option>
    @{
        IManagerGroupBusiness business = new MongoManagerGroupBusiness();
        List<ManagerGroup> groups = business.GetList();

        foreach (var item in groups)
        {
        <option value="@item.Id" @(Model == item.Id ? "selected='selected'" : "")>
            @item.Name
        </option>
        }
    }
</select>