@using Rhea.UI.Areas.Estate.Models
@model string

<select id="Orientation" name="Orientation">
    <option value="">-- 请选择 --</option>
    @foreach (Orientation o in Enum.GetValues(typeof(Orientation)))
    {                      
        <option value="@o" @(Model == o.ToString() ? "selected='selected'" : "")>@o</option>
    }
</select>