@model string

<select class="form-control" id="PowerSupply" name="PowerSupply">
    <option value="">-- 请选择 --</option>
    @{
        DictionaryBusiness business = new DictionaryBusiness();
        var dict = business.Get("PowerSupply");
 
        foreach (string item in dict.Property)
        {
            <option value="@item" @(Model == item ? "selected='selected'" : "")>@item</option>
        }
    }
</select>
