@model int?

<select class="form-control" id="ResideType" name="ResideType">
    <option value="">-- 请选择 --</option>
    @foreach (ResideType o in Enum.GetValues(typeof(ResideType)))
    {
        <option value="@Convert.ToInt32(o)" @(Model == (int)o ? "selected='selected'" : "")>@o.DisplayName()</option>
    }
</select>