@model string

<select id="RoomStatus" name="RoomStatus">
    <option value="">-- 请选择 --</option>
    @foreach (RoomStatus o in Enum.GetValues(typeof(RoomStatus)))
    {                      
        <option value="@o.DisplayName()" @(Model == o.DisplayName() ? "selected='selected'" : "")>@o.DisplayName()</option>
    }
</select>