@model string

<select id="TrashHandle" name="TrashHandle">
    <option value="">-- 请选择 --</option>
    @foreach (TrashHandle o in Enum.GetValues(typeof(TrashHandle)))
    {                      
        <option value="@o" @(Model == o.ToString() ? "selected='selected'" : "")>@o</option>
    }
</select>