@using Rhea.Business.Account
@using Rhea.Model.Account
@model int?

<select id="UserGroupId" name="UserGroupId">
    <option value="0">-- 请选择 --</option>
    @{
        IUserGroupBusiness business = new MongoUserGroupBusiness();
        bool isRoot = User.IsInRole2("Root");
        List<UserGroup> groups = business.GetList(isRoot);
        
        foreach (var item in groups)
        {
        <option value="@item.Id" @(Model == item.Id ? "selected='selected'" : "")>
            @item.Name
        </option>
        }
    }
</select>