@model Rhea.Data.Entities.Building

@{
    ViewBag.Title = "Test2";
    Layout = "~/Views/Shared/_LayoutPresent.cshtml";
}

<div id="main-content" class="container-fluid">
    <div class="row-fluid">
        <div class="span1">
            <ul class="floor-nav">
            <li><span>五楼</span></li>
            <li><span>四楼</span></li>
            <li><span>三楼</span></li>
            <li><span>二楼</span></li>
            <li><span>一楼</span></li>
            </ul>
        </div>
        <!--/span-->
        <div id="content-inner-wrap" class="span10">
            <div class="row-fluid">                
                <div class="span9">                   
                    <div id="svg"></div>
                </div>               
                <!--/span-->
                <div class="span3">
                    <h3>
                        物联网学院B楼一楼</h3>               
                    <div id="room-summary"></div>    
                    <p>
                        <a id="zoom-in" href="#" class="btn"><i class="icon-zoom-in"></i>放大</a>
                        <a id="zoom-out" href="#"
                            class="btn"><i class=" icon-zoom-out"></i>缩小</a></p>               
                </div>
                <!--/span-->
            </div>
            <!--/row-->
            <div class="row-fluid">
                <div class="tabbable span12">
                    <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">楼层参数</a></li>
                        <li><a href="#tab2" data-toggle="tab">房间统计</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="row-fluid">
                                <div class="span6">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>
                                                    属性
                                                </th>
                                                <th>
                                                    值
                                                </th>                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    建筑面积
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    使用面积
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="span6">
                                    <div id="container2" style="width: 99%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            名称
                                        </th>
                                        <th>
                                            建筑面积
                                        </th>
                                        <th>
                                            使用面积
                                        </th>
                                        <th>
                                            房间数量
                                        </th>
                                        <th>
                                            详细
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            办公用房
                                        </td>
                                        <td class="center">
                                        </td>
                                        <td class="center">
                                            5
                                        </td>
                                        <td class="center">
                                            0
                                        </td>
                                        <td>
                                            <button class="btn btn-success" type="button">
                                                查看</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            科研用房
                                        </td>
                                        <td class="center">
                                        </td>
                                        <td class="center">
                                        </td>
                                        <td class="center">
                                        </td>
                                        <td>
                                            <button class="btn btn-success" type="button">
                                                查看</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            实验用房
                                        </td>
                                        <td class="center">
                                        </td>
                                        <td class="center">
                                        </td>
                                        <td class="center">
                                        </td>
                                        <td>
                                            <button class="btn btn-success" type="button">
                                                查看</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            教学用房
                                        </td>
                                        <td class="center">
                                        </td>
                                        <td class="center">
                                        </td>
                                        <td class="center">
                                        </td>
                                        <td>
                                            <button class="btn btn-success" type="button">
                                                查看</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/span-->
        <div class="span1">
        </div>
        
        
    </div>
    <!--/row-->
    <footer>
        <p>
            &copy; Company 2013</p>
    </footer>
</div>
<!--/.fluid-container-->

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {
        var svg;
        var svgFile = '/Images/svg/300125.svg';


        if (svgFile != '') {
            $('div#svg').load(svgFile, function () {
                svg = $(this).children('svg');
                //svg.attr({ 'width': '100%', 'height': '100%' });
                var s0 = svg[0];
                var viewBox = s0.getAttribute('viewBox');
                svg.attr('viewBox', s0);
                //svg.attr('width', '750');
                //svg.attr('height', '500');             

                $("svg g[id^='g']").click(function () {
                    var id = $(this).attr('id').toString().substring(1);
                    $("svg rect[class='room-select']").attr('class', 'fil0');

                    $(this).children('[ref=bound]').attr('class', 'room-select');

                    $('#room-summary').load('/Test/Summary', { id: id });
                });
            });
        }

        $('a#zoom-in').click(function () {
            zoom2('zoomIn');
            return false;
        });

        $('a#zoom-out').click(function () {
            zoom2('zoomOut');
            return false;
        });

        var zoomRate = 1.1;

        function zoom(zoomType) {
            // debugger;
            var viewBox = s0.getAttribute('viewBox'); // Grab the object representing the SVG element's viewBox attribute.
            var viewBoxValues = viewBox.split(' '); // Create an array and insert each individual view box attribute value (assume they're seperated by a single whitespace character).
            viewBoxValues[2] = parseFloat(viewBoxValues[2]); // Convert string "numeric" values to actual numeric values.
            viewBoxValues[3] = parseFloat(viewBoxValues[3]);
            if (zoomType == 'zoomIn') {
                viewBoxValues[2] /= zoomRate; // Decrease the width and height attributes of the viewBox attribute to zoom in.
                viewBoxValues[3] /= zoomRate;
            }
            else if (zoomType == 'zoomOut') {
                viewBoxValues[2] *= zoomRate; // Increase the width and height attributes of the viewBox attribute to zoom out.
                viewBoxValues[3] *= zoomRate;
            }
            else
                alert("function zoom(zoomType) given invalid zoomType parameter.");
            s0.setAttribute('viewBox', viewBoxValues.join(' ')); // Convert the viewBoxValues array into a string with a white space character between the given values.
        }

        function zoom2(zoomType) {
            var viewBox = svg.attr('viewBox');
            var viewBoxValues = viewBox.split(' ');
            var width = parseFloat(svg.attr('width'));
            var height = parseFloat(svg.attr('height'));
            viewBoxValues[2] = parseFloat(viewBoxValues[2]);
            viewBoxValues[3] = parseFloat(viewBoxValues[3]);

            if (zoomType == 'zoomIn') {
                viewBoxValues[2] *= zoomRate; // Decrease the width and height attributes of the viewBox attribute to zoom in.
                viewBoxValues[3] *= zoomRate;
                width *= zoomRate;
                height *= zoomRate;
            }
            else if (zoomType == 'zoomOut') {
                viewBoxValues[2] /= zoomRate; // Increase the width and height attributes of the viewBox attribute to zoom out.
                viewBoxValues[3] /= zoomRate;
                width /= zoomRate;
                height /= zoomRate;
            }
            svg.attr('viewBox', viewBoxValues.join(' '));
            svg.attr('width', width);
            svg.attr('height', height);
        }
    });
</script>
}