@{
    Layout = null;
}

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">导航</li>
        <li class="active"><a href="@Url.Action("Index", new { controller = "Home", area = "Admin" })">主页</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="nav-header">房产管理</li>
        <li><a href="@Url.Action("List", new { controller = "BuildingGroup", area = "Admin" })" id="building-group-manage">楼群管理</a></li>
        <li><a href="@Url.Action("List", new { controller = "Building", area = "Admin" })" id="building-manage">楼宇管理</a></li>
        <li><a href="@Url.Action("Index", new { controller = "Room", area = "Admin" })" id="room-manage">房间管理</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
    </ul>
</div>