@{
    ViewBag.Title = "主页";
}


<!--Body content-->
<div class="contentwrapper">
    <div class="row-fluid">
        <div class="span12">
            <img src="../../Images/map1.jpg" alt="map" />
        </div>
    </div>
</div>
