@{
    ViewBag.Title = "首页";
}

<div class="page-content-wrapper">   
    <img src="~/Images/home.jpg" class="img-responsive" />
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('body').addClass('page-full-width');
        })
    </script>
}