@model Rhea.Model.Account.User

@{
    Layout = null;
    string groupName = Model.UserGroupName();
}

<!-- BEGIN HORIZANTAL MENU -->
<!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) in the responsive menu below along with sidebar menu. So the horizontal menu has 2 seperate versions -->
<div class="hor-menu hidden-sm hidden-xs">
    <ul class="nav navbar-nav" id="top-nav">
        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
        @if (User.HasPrivilege("EstateManage"))
        { 
        <li>
            <a href="@Url.Action("Index", new { area = "Estate", controller = "Home" })" id="estate-nav" class="classic-menu-dropdown"><i class="fa fa-building"></i> 房 产 管 理</a>
        </li>
        }
        @if (User.HasPrivilege("InstituteManage"))
        {
        <li>
            <a href="@Url.Action("Index", new { area = "Institute", controller = "Home" })" id="institute-nav" class="classic-menu-dropdown"><i class="fa fa-joomla"></i> 部 门 管 理</a>
        </li>
        }        
        @if (User.HasPrivilege("ApartmentManage"))
        {
        <li>
            <a href="@Url.Action("Index", new { area = "Apartment", controller = "Home" })" id="apartment-nav"><i class="fa fa-ge"></i> 青 教 管 理</a>
        </li>
        }
    </ul>
</div>
<!-- END HORIZANTAL MENU -->