@{
    Layout = null;
}

<!-- left menu starts -->
<div class="span2 main-menu-span">
    <div class="well nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li class="nav-header hidden-tablet">Main</li>
            <li>
                <a class="ajax-link" href="index.html"><i class="icon-home"></i>
                <span class="hidden-tablet">我的主页</span></a>
            </li>
            <li>
                <a class="ajax-link" href="@Url.Action("Chrisma", "Home", new { area = "" })"><i class="icon-eye-open"></i>
                <span class="hidden-tablet">展示页</span></a>
            </li>
            <li>
                <a class="ajax-link" href="form.html"><i class="icon-edit"></i>
                <span class="hidden-tablet">通知</span></a> 
            </li>
            <li>
                <a class="ajax-link" href="chart.html"><i class="icon-list-alt"></i>
                <span class="hidden-tablet">动态</span></a> 
            </li>
            <li>
                <a class="ajax-link" href="typography.html"><i class="icon-font"></i>
                <span class="hidden-tablet">日志</span></a> 
            </li>
         
            <li class="nav-header hidden-tablet">我的应用</li>
            <li>
                <a class="ajax-link" href="@Url.Action("Index", new { controller = "Home", area = "Estate" })">
                <i class="icon-th-list"></i><span class="hidden-tablet">房产管理</span></a> 
            </li>
            <li>
                <a class="ajax-link" href="@Url.Action("Index", new { controller = "Statistic", area = "Estate" })"><i class="icon-align-justify"></i>
                <span class="hidden-tablet">房产统计</span></a>
            </li>
            <li>
                <a class="ajax-link" href="calendar.html"><i class="icon-calendar"></i>
                <span class="hidden-tablet">系统2</span></a>
            </li>
            <li>
                <a class="ajax-link" href="grid.html"><i class="icon-th"></i>
                <span class="hidden-tablet">系统3</span></a>
            </li>
            <li>
                <a class="ajax-link" href="file-manager.html"><i class="icon-folder-open"></i>
                <span class="hidden-tablet">系统4</span></a>
            </li>
            <li>
                <a href="tour.html"><i class="icon-globe"></i>
                <span class="hidden-tablet">系统5</span></a>
            </li>
            <li>
                <a class="ajax-link" href="icon.html"><i class="icon-star"></i>
                <span class="hidden-tablet">系统6</span></a>
            </li>
            <li>
                <a href="error.html"><i class="icon-ban-circle"></i>
                <span class="hidden-tablet">系统7</span></a>
            </li>
            <li>
                <a href="login.html"><i class="icon-lock"></i>
                <span class="hidden-tablet">系统8</span></a>
            </li>
        </ul>      
    </div>
    <!--/.well -->
</div>
<!--/span-->
<!-- left menu ends -->
