@{
    Layout = null;
    ViewBag.Title = "导航栏";
}

<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="@Url.Action("Index", new { contoller = "Home", area = ""})">房产管理系统</a>
            <div class="nav-no-collapse">
                <ul class="nav">
                    <li><a href="@Url.Action("Index", new { controller = "Home", area = "Estate" })" id="nav-summary"><span class="icon16 icomoon-icon-home-2"></span> 概况</a></li>
                    <li><a href="dashboard.html"><span class="icon16 icomoon-icon-map-2"></span> 地图</a></li>
                    <li><a href="dashboard.html"><span class="icon16 icomoon-icon-office"></span> 楼群</a></li>
                    <li><a href="dashboard.html"><span class="icon16 icomoon-icon-screen-2"></span> 部门</a></li>
                    <li><a href="@Url.Action("Index", new { controller = "Statistic", area = "" })" id="nav-statistic"><span class="icon16 icomoon-icon-graph"></span> 统计</a></li>
                </ul>
                  
                <ul class="nav pull-right usernav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="icon16 icomoon-icon-bell-2"></span><span class="notification">3</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="menu">
                                <ul class="notif">
                                    <li class="header"><strong>Notifications</strong> (3) items</li>
                                    <li>
                                        <a href="#">
                                            <span class="icon"><span class="icon16 icomoon-icon-user-3"></span></span>
                                            <span class="event">1 User is registred</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="icon"><span class="icon16 icomoon-icon-comments-4"></span></span>
                                            <span class="event">Jony add 1 comment</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="icon"><span class="icon16 icomoon-icon-new-2"></span></span>
                                            <span class="event">admin Julia added post with a long description</span>
                                        </a>
                                    </li>
                                    <li class="view-all"><a href="#">View all notifications <span class="icon16 icomoon-icon-arrow-right-8"></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>                    
                    @Html.Partial("_LoginPartial")                    
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div><!-- /navbar --> 