@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<div>
    <select id="college-list">
    </select>
    <br />
    <div id="container1" style="width: 95%;">
    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/highcharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modules/exporting.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var dataList;

            $.getJSON('http://localhost:11500/api/department', function (response) {
                initSelectList(response);
            });

            function initSelectList(data) {
                $.each(data, function (i, item) {
                    $('#college-list').append("<option value='" + item.Id + "'>" + item.Name + "</option>");
                });
                //initFirstPieChart(data[0], 0);
                //initFirstColumnChart(data[0], 0);
            }

            $('#college-list').change(function () {
                var id = $(this).val();

                $.ajax({
                    type: 'get',
                    url: 'http://localhost:11500/api/statistic/get_department_area',
                    data: { "departmentId": id },
                    dataType: 'json',
                    success: function (response) {
                        initFirstPieChart(response);
                    },
                    error: function (msg) {
                        alert("error: " + msg);
                    }
                });
            });

            function initFirstPieChart(data) {
                var option = {
                    chart: {
                        renderTo: 'container1',
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: '分类用房比例图'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                        percentageDecimals: 1
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                formatter: function () {
                                    return '<b>' + this.point.name + '</b>: ' + this.percentage.toFixed(2) + ' %';
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: '比例',
                        data: []
                    }]
                };

                $.each(data, function (i, item) {
                    switch (item.FunctionFirstCode) {
                        case 1:
                            option.series[0].data.push(['办公用房', parseFloat(item.Area)]);
                            break;
                        case 2:
                            option.series[0].data.push(['教学用房', parseFloat(item.Area)]);
                            break;
                        case 3:
                            option.series[0].data.push(['实验用房', parseFloat(item.Area)]);
                            break;
                        case 4:
                            option.series[0].data.push(['科研用房', parseFloat(item.Area)]);
                            break;
                    }
                });

                var chart1 = new Highcharts.Chart(option);
            }
        });
    </script>
}