@using Rhea.UI.Areas.Estate.Models
@using Rhea.Common
@model int?

<select id="Type" name="Type">    
    @foreach (BuildingGroupType o in Enum.GetValues(typeof(BuildingGroupType)))
    {                      
        <option value="@Convert.ToInt32(o)" @(Model == (int)o ? "selected='selected'" : "")>@o.DisplayName()</option>
    }
</select>