@using Rhea.Business
@using Rhea.Data.Entities
@model int?

<select id="BuildingGroupId" name="BuildingGroupId">
    <option value="">-- 请选择 --</option>
    @{
        IBuildingGroupService service = new BuildingGroupService();
        List<BuildingGroup> groups = service.GetList();

        foreach (var item in groups)
        {
        <option value="@item.Id" @(Model == item.Id ? "selected='selected'" : "")>
            @item.Name
        </option>
        }
    }
</select>
