@model IEnumerable<Rhea.Model.Estate.Block>

<ul class="sub-menu">
    @foreach(var building in Model)
    { 
    <li>
        <a href="javascript:;">
            <i class="fa fa-maxcdn ajax-link" data-ref="@building.BuildingId"></i> @building.Name <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            @foreach (var floor in building.Floors)
            {
                <li>
                    <a class="ajaxify" href="/Apartment/Building/Floor?buildingId=@building.BuildingId&floor=@floor.Number">@floor.Name</a>
                </li>
            }
        </ul>
    </li>
    }
</ul>
