@{
    ViewBag.Title = "学院分类用房比较";
    Layout = null;
}

<style type="text/css">
    #check-list div { display:block; margin-top:5px; }
</style>

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-align-left"></i>@ViewBag.Title</h2>
    </div>
    <div class="box-content">       
        <div class="row-fluid">
            <div class="span10">
                <div id="container1" style="width: 99%; height: 550px;">
                </div>
            </div>

            <div class="span2">
                <div id="check-list" class="checkbox inline">
                </div>
            </div>
        </div>       
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var dataList;

        $.getJSON('/Statistic/CollegeClassifyData', function (response) {
            dataList = response;

            initCheckList(response);
            setStackChart(response);
        });

        function initCheckList(data) {
            $.each(data, function (i, item) {
                $('#check-list').append("<div><input class='college' type='checkbox' checked='checked' value='" + item.Id + "' />" + item.CollegeName + "</div>");
            });

            $('#check-list input:checkbox').click(function () {
                alert('ok');
                if ($(this).attr("checked") == "checked") {
                    alert('1231'); //do some thing   
                } else {
                    alert('abc'); //do some thing   
                }
            });
        }

        function setStackChart(data) {
            var option = {
                chart: {
                    renderTo: 'container1',
                    type: 'bar'
                },
                title: {
                    text: '学院对比图'
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    categories: []
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '总面积(m2)'
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'normal',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                legend: {
                    backgroundColor: '#FFFFFF',
                    reversed: true
                },
                tooltip: {
                    formatter: function () {
                        return '' + this.series.name + ': ' + this.y + '';
                    }
                },
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                }
            };

            option.xAxis.categories = [];
            $.each(data, function (i, item) {
                option.xAxis.categories.push(item.CollegeName);
            });

            option.series = [];
            option.series[0] = { name: "办公用房", data: [] };
            option.series[1] = { name: "教学用房", data: [] };
            option.series[2] = { name: "实验用房", data: [] };
            option.series[3] = { name: "科研用房", data: [] };

            $.each(data, function (i, item) {
                option.series[0].data.push({ name: item.CollegeName, y: parseFloat(item.OfficeArea) });
                option.series[1].data.push({ name: item.CollegeName, y: parseFloat(item.EducationArea) });
                option.series[2].data.push({ name: item.CollegeName, y: parseFloat(item.ExperimentArea) });
                option.series[3].data.push({ name: item.CollegeName, y: parseFloat(item.ResearchArea) });
            });

            var chart4 = new Highcharts.Chart(option);
        }
    });

</script>