@{
    ViewBag.Title = "部门用房面积前四位";
    Layout = null;
}
<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-align-left"></i>@ViewBag.Title</h2>
    </div>
    <div class="box-content">
        <div class="row-fluid">
            <div class="span12">
                <div id="container4" style="width: 100%; height: 300px;">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#container4').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: null
            },
            xAxis: {
                categories: [
                    '学生工作处',
                    '团委',
                    '财务处',
                    '人事处'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '面积 (m2)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} m2</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: '建筑面积',
                data: [5100.5, 4704, 3572.2, 3433.4]

            }, {
                name: '使用面积',
                data: [4500.7, 4323, 3001, 3045]

            }]
        });
    });
</script>
