/* For custom css */

h1, h2, h3, h4, h5, h6 , .page-title, .dropdown-menu {
	font-family: '微软雅黑';
}

.page-header.navbar .page-logo .logo-default {
	margin: 0;
}

.hor-menu > ul.nav > li {
	margin-right: 10px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}
