@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot');
	src: url('fonts/icomoon.eot?#iefix') format('eot'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*Box for icons page */
.box1 {
	display: inline-block;
	width: 15em;
	padding: .25em .5em;
	background: #eee;
	margin: .5em 1em .5em 0;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.box1 span {font-size:16px;}

.the-icons {list-style: none; margin-left:0}

.icon12 {font-size:12px; width:12px; height:12px;}
.icon16 {font-size:16px; width:16px; height:16px;}
.icon24 {font-size:24px; width:24px; height:24px;}
.icon32 {font-size:32px; width:32px; height:32px;}
.icon42 {font-size:42px; width:42px; height:42px;}
.icon64 {font-size:64px; width:64px; height:64px;}

.icon {height: 16px; width:16px;}

/*Font face icons*/
[class^="icomoon-icon-"], [class*=" icomoon-icon-"] {
  vertical-align: middle;
  color: #353535;
  margin-right:5px;
  margin-left:5px;
}

/* IcoMoon premium icons set */
[class^="icomoon-icon-"]:before, [class*=" icomoon-icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.icomoon-icon-home:before {
	content: "\21";
}
.icomoon-icon-home-2:before {
	content: "\23";
}
.icomoon-icon-home-3:before {
	content: "\24";
}
.icomoon-icon-home-4:before {
	content: "\25";
}
.icomoon-icon-home-5:before {
	content: "\26";
}
.icomoon-icon-home-6:before {
	content: "\27";
}
.icomoon-icon-home-7:before {
	content: "\28";
}
.icomoon-icon-home-8:before {
	content: "\29";
}
.icomoon-icon-home-9:before {
	content: "\2a";
}
.icomoon-icon-office:before {
	content: "\2b";
}
.icomoon-icon-newspaper:before {
	content: "\2c";
}
.icomoon-icon-pencil:before {
	content: "\2d";
}
.icomoon-icon-pencil-2:before {
	content: "\2e";
}
.icomoon-icon-pencil-3:before {
	content: "\2f";
}
.icomoon-icon-pencil-4:before {
	content: "\30";
}
.icomoon-icon-pencil-5:before {
	content: "\31";
}
.icomoon-icon-pen:before {
	content: "\32";
}
.icomoon-icon-pen-2:before {
	content: "\33";
}
.icomoon-icon-feather:before {
	content: "\34";
}
.icomoon-icon-brush:before {
	content: "\35";
}
.icomoon-icon-color-palette:before {
	content: "\36";
}
.icomoon-icon-eyedropper:before {
	content: "\37";
}
.icomoon-icon-droplet:before {
	content: "\38";
}
.icomoon-icon-picture:before {
	content: "\39";
}
.icomoon-icon-pictures:before {
	content: "\3a";
}
.icomoon-icon-picture-2:before {
	content: "\3b";
}
.icomoon-icon-picture-3:before {
	content: "\3c";
}
.icomoon-icon-camera:before {
	content: "\3d";
}
.icomoon-icon-camera-2:before {
	content: "\3e";
}
.icomoon-icon-camera-3:before {
	content: "\3f";
}
.icomoon-icon-camera-4:before {
	content: "\40";
}
.icomoon-icon-music:before {
	content: "\41";
}
.icomoon-icon-music-2:before {
	content: "\42";
}
.icomoon-icon-piano:before {
	content: "\43";
}
.icomoon-icon-guitar:before {
	content: "\44";
}
.icomoon-icon-headset:before {
	content: "\45";
}
.icomoon-icon-headset-2:before {
	content: "\46";
}
.icomoon-icon-play:before {
	content: "\47";
}
.icomoon-icon-play-2:before {
	content: "\48";
}
.icomoon-icon-movie:before {
	content: "\49";
}
.icomoon-icon-movie-2:before {
	content: "\4a";
}
.icomoon-icon-movie-3:before {
	content: "\4b";
}
.icomoon-icon-film:before {
	content: "\4c";
}
.icomoon-icon-film-2:before {
	content: "\4d";
}
.icomoon-icon-film-3:before {
	content: "\4e";
}
.icomoon-icon-camera-5:before {
	content: "\4f";
}
.icomoon-icon-camera-6:before {
	content: "\50";
}
.icomoon-icon-camera-7:before {
	content: "\51";
}
.icomoon-icon-dice:before {
	content: "\52";
}
.icomoon-icon-gamepad:before {
	content: "\53";
}
.icomoon-icon-gamepad-2:before {
	content: "\54";
}
.icomoon-icon-pacman:before {
	content: "\55";
}
.icomoon-icon-spades:before {
	content: "\56";
}
.icomoon-icon-clubs:before {
	content: "\57";
}
.icomoon-icon-diamonds:before {
	content: "\58";
}
.icomoon-icon-king:before {
	content: "\59";
}
.icomoon-icon-queen:before {
	content: "\5a";
}
.icomoon-icon-rock:before {
	content: "\5b";
}
.icomoon-icon-bishop:before {
	content: "\5c";
}
.icomoon-icon-knight:before {
	content: "\5d";
}
.icomoon-icon-pawn:before {
	content: "\5e";
}
.icomoon-icon-chess:before {
	content: "\5f";
}
.icomoon-icon-announcement:before {
	content: "\60";
}
.icomoon-icon-announcement-2:before {
	content: "\61";
}
.icomoon-icon-new:before {
	content: "\62";
}
.icomoon-icon-broadcast:before {
	content: "\63";
}
.icomoon-icon-broadcast-2:before {
	content: "\64";
}
.icomoon-icon-podcast:before {
	content: "\65";
}
.icomoon-icon-broadcast-3:before {
	content: "\66";
}
.icomoon-icon-microphone:before {
	content: "\67";
}
.icomoon-icon-microphone-2:before {
	content: "\68";
}
.icomoon-icon-microphone-3:before {
	content: "\69";
}
.icomoon-icon-book:before {
	content: "\6a";
}
.icomoon-icon-book-2:before {
	content: "\6b";
}
.icomoon-icon-books:before {
	content: "\6c";
}
.icomoon-icon-reading:before {
	content: "\6d";
}
.icomoon-icon-library:before {
	content: "\6e";
}
.icomoon-icon-graduation:before {
	content: "\6f";
}
.icomoon-icon-file:before {
	content: "\70";
}
.icomoon-icon-file-2:before {
	content: "\71";
}
.icomoon-icon-file-add:before {
	content: "\72";
}
.icomoon-icon-file-remove:before {
	content: "\73";
}
.icomoon-icon-file-download:before {
	content: "\74";
}
.icomoon-icon-new-2:before {
	content: "\75";
}
.icomoon-icon-copy:before {
	content: "\76";
}
.icomoon-icon-copy-2:before {
	content: "\77";
}
.icomoon-icon-stack:before {
	content: "\78";
}
.icomoon-icon-folder:before {
	content: "\79";
}
.icomoon-icon-folder-2:before {
	content: "\7a";
}
.icomoon-icon-folder-download:before {
	content: "\7b";
}
.icomoon-icon-folder-upload:before {
	content: "\7c";
}
.icomoon-icon-folder-3:before {
	content: "\7d";
}
.icomoon-icon-folder-4:before {
	content: "\e000";
}
.icomoon-icon-license:before {
	content: "\e001";
}
.icomoon-icon-tag:before {
	content: "\e002";
}
.icomoon-icon-tag-2:before {
	content: "\e003";
}
.icomoon-icon-tag-3:before {
	content: "\e004";
}
.icomoon-icon-tag-4:before {
	content: "\e005";
}
.icomoon-icon-ticket:before {
	content: "\e006";
}
.icomoon-icon-cart:before {
	content: "\e007";
}
.icomoon-icon-cart-2:before {
	content: "\e008";
}
.icomoon-icon-cart-3:before {
	content: "\e009";
}
.icomoon-icon-cart-4:before {
	content: "\e00a";
}
.icomoon-icon-cart-add:before {
	content: "\e00b";
}
.icomoon-icon-cart-remove:before {
	content: "\e00c";
}
.icomoon-icon-cart-checkout:before {
	content: "\e00d";
}
.icomoon-icon-basket:before {
	content: "\e00e";
}
.icomoon-icon-basket-2:before {
	content: "\e00f";
}
.icomoon-icon-bag:before {
	content: "\e010";
}
.icomoon-icon-coin:before {
	content: "\e011";
}
.icomoon-icon-coins:before {
	content: "\e012";
}
.icomoon-icon-calculate:before {
	content: "\e013";
}
.icomoon-icon-calculate-2:before {
	content: "\e014";
}
.icomoon-icon-support:before {
	content: "\e015";
}
.icomoon-icon-phone:before {
	content: "\e016";
}
.icomoon-icon-phone-2:before {
	content: "\e017";
}
.icomoon-icon-address:before {
	content: "\e018";
}
.icomoon-icon-address-2:before {
	content: "\e019";
}
.icomoon-icon-notebook:before {
	content: "\e01a";
}
.icomoon-icon-mail:before {
	content: "\e01b";
}
.icomoon-icon-mail-2:before {
	content: "\e01c";
}
.icomoon-icon-mail-3:before {
	content: "\e01d";
}
.icomoon-icon-mail-4:before {
	content: "\e01e";
}
.icomoon-icon-location:before {
	content: "\e01f";
}
.icomoon-icon-location-2:before {
	content: "\e020";
}
.icomoon-icon-location-3:before {
	content: "\e021";
}
.icomoon-icon-location-4:before {
	content: "\e022";
}
.icomoon-icon-compass:before {
	content: "\e023";
}
.icomoon-icon-compass-2:before {
	content: "\e024";
}
.icomoon-icon-map:before {
	content: "\e025";
}
.icomoon-icon-map-2:before {
	content: "\e026";
}
.icomoon-icon-history:before {
	content: "\e027";
}
.icomoon-icon-clock:before {
	content: "\e028";
}
.icomoon-icon-clock-2:before {
	content: "\e029";
}
.icomoon-icon-stopwatch:before {
	content: "\e02a";
}
.icomoon-icon-alarm:before {
	content: "\e02b";
}
.icomoon-icon-alarm-2:before {
	content: "\e02c";
}
.icomoon-icon-wrist-watch:before {
	content: "\e02d";
}
.icomoon-icon-bell:before {
	content: "\e02e";
}
.icomoon-icon-bell-2:before {
	content: "\e02f";
}
.icomoon-icon-bell-3:before {
	content: "\e030";
}
.icomoon-icon-bell-4:before {
	content: "\e031";
}
.icomoon-icon-calendar:before {
	content: "\e032";
}
.icomoon-icon-calendar-2:before {
	content: "\e033";
}
.icomoon-icon-calendar-3:before {
	content: "\e034";
}
.icomoon-icon-printer:before {
	content: "\e035";
}
.icomoon-icon-printer-2:before {
	content: "\e036";
}
.icomoon-icon-printer-3:before {
	content: "\e037";
}
.icomoon-icon-mouse:before {
	content: "\e038";
}
.icomoon-icon-mouse-2:before {
	content: "\e039";
}
.icomoon-icon-mouse-3:before {
	content: "\e03a";
}
.icomoon-icon-mouse-4:before {
	content: "\e03b";
}
.icomoon-icon-keyboard:before {
	content: "\e03c";
}
.icomoon-icon-screen:before {
	content: "\e03d";
}
.icomoon-icon-screen-2:before {
	content: "\e03e";
}
.icomoon-icon-laptop:before {
	content: "\e03f";
}
.icomoon-icon-mobile:before {
	content: "\e040";
}
.icomoon-icon-tablet:before {
	content: "\e041";
}
.icomoon-icon-mobile-2:before {
	content: "\e042";
}
.icomoon-icon-tv:before {
	content: "\e043";
}
.icomoon-icon-tv-2:before {
	content: "\e044";
}
.icomoon-icon-cabinet:before {
	content: "\e045";
}
.icomoon-icon-drawer:before {
	content: "\e046";
}
.icomoon-icon-drawer-2:before {
	content: "\e047";
}
.icomoon-icon-box:before {
	content: "\e048";
}
.icomoon-icon-box-add:before {
	content: "\e049";
}
.icomoon-icon-box-remove:before {
	content: "\e04a";
}
.icomoon-icon-disk:before {
	content: "\e04b";
}
.icomoon-icon-storage:before {
	content: "\e04c";
}
.icomoon-icon-drive:before {
	content: "\e04d";
}
.icomoon-icon-database:before {
	content: "\e04e";
}
.icomoon-icon-undo:before {
	content: "\e04f";
}
.icomoon-icon-redo:before {
	content: "\e050";
}
.icomoon-icon-flip:before {
	content: "\e051";
}
.icomoon-icon-flip-2:before {
	content: "\e052";
}
.icomoon-icon-undo-2:before {
	content: "\e053";
}
.icomoon-icon-redo-2:before {
	content: "\e054";
}
.icomoon-icon-forward:before {
	content: "\e055";
}
.icomoon-icon-reply:before {
	content: "\e056";
}
.icomoon-icon-reply-2:before {
	content: "\e057";
}
.icomoon-icon-comments:before {
	content: "\e058";
}
.icomoon-icon-comments-2:before {
	content: "\e059";
}
.icomoon-icon-comments-3:before {
	content: "\e05a";
}
.icomoon-icon-comments-4:before {
	content: "\e05b";
}
.icomoon-icon-comments-5:before {
	content: "\e05c";
}
.icomoon-icon-comments-6:before {
	content: "\e05d";
}
.icomoon-icon-comments-7:before {
	content: "\e05e";
}
.icomoon-icon-comments-8:before {
	content: "\e05f";
}
.icomoon-icon-comments-9:before {
	content: "\e060";
}
.icomoon-icon-comments-10:before {
	content: "\e061";
}
.icomoon-icon-comments-11:before {
	content: "\e062";
}
.icomoon-icon-comments-12:before {
	content: "\e063";
}
.icomoon-icon-comments-13:before {
	content: "\e064";
}
.icomoon-icon-comments-14:before {
	content: "\e065";
}
.icomoon-icon-comments-15:before {
	content: "\e066";
}
.icomoon-icon-user:before {
	content: "\e067";
}
.icomoon-icon-users:before {
	content: "\e068";
}
.icomoon-icon-user-2:before {
	content: "\e069";
}
.icomoon-icon-user-3:before {
	content: "\e06a";
}
.icomoon-icon-user-4:before {
	content: "\e06b";
}
.icomoon-icon-tie:before {
	content: "\e06c";
}
.icomoon-icon-user-5:before {
	content: "\e06d";
}
.icomoon-icon-users-2:before {
	content: "\e06e";
}
.icomoon-icon-vcard:before {
	content: "\e06f";
}
.icomoon-icon-tshirt:before {
	content: "\e070";
}
.icomoon-icon-hanger:before {
	content: "\e071";
}
.icomoon-icon-quote:before {
	content: "\e072";
}
.icomoon-icon-quote-2:before {
	content: "\e073";
}
.icomoon-icon-busy:before {
	content: "\e074";
}
.icomoon-icon-busy-2:before {
	content: "\e075";
}
.icomoon-icon-busy-3:before {
	content: "\e076";
}
.icomoon-icon-busy-4:before {
	content: "\e077";
}
.icomoon-icon-loading:before {
	content: "\e078";
}
.icomoon-icon-loading-2:before {
	content: "\e079";
}
.icomoon-icon-loading-3:before {
	content: "\e07a";
}
.icomoon-icon-loading-4:before {
	content: "\e07b";
}
.icomoon-icon-loading-5:before {
	content: "\e07c";
}
.icomoon-icon-loading-6:before {
	content: "\e07d";
}
.icomoon-icon-loading-7:before {
	content: "\e07e";
}
.icomoon-icon-loading-8:before {
	content: "\e07f";
}
.icomoon-icon-refresh:before {
	content: "\e080";
}
.icomoon-icon-microscope:before {
	content: "\e081";
}
.icomoon-icon-binocular:before {
	content: "\e082";
}
.icomoon-icon-search:before {
	content: "\e083";
}
.icomoon-icon-search-2:before {
	content: "\e084";
}
.icomoon-icon-zoom-in:before {
	content: "\e085";
}
.icomoon-icon-zoom-out:before {
	content: "\e086";
}
.icomoon-icon-search-3:before {
	content: "\e087";
}
.icomoon-icon-search-4:before {
	content: "\e088";
}
.icomoon-icon-zoom-in-2:before {
	content: "\e089";
}
.icomoon-icon-zoom-out-2:before {
	content: "\e08a";
}
.icomoon-icon-search-5:before {
	content: "\e08b";
}
.icomoon-icon-expand:before {
	content: "\e08c";
}
.icomoon-icon-expand-2:before {
	content: "\e08d";
}
.icomoon-icon-expand-3:before {
	content: "\e08e";
}
.icomoon-icon-expand-4:before {
	content: "\e08f";
}
.icomoon-icon-full-screen:before {
	content: "\e090";
}
.icomoon-icon-contract:before {
	content: "\e091";
}
.icomoon-icon-contract-2:before {
	content: "\e092";
}
.icomoon-icon-contract-3:before {
	content: "\e093";
}
.icomoon-icon-contract-4:before {
	content: "\e094";
}
.icomoon-icon-key:before {
	content: "\e095";
}
.icomoon-icon-key-2:before {
	content: "\e096";
}
.icomoon-icon-key-3:before {
	content: "\e097";
}
.icomoon-icon-keyhole:before {
	content: "\e098";
}
.icomoon-icon-locked:before {
	content: "\e099";
}
.icomoon-icon-unlocked:before {
	content: "\e09a";
}
.icomoon-icon-locked-2:before {
	content: "\e09b";
}
.icomoon-icon-locked-3:before {
	content: "\e09c";
}
.icomoon-icon-wrench:before {
	content: "\e09d";
}
.icomoon-icon-wrench-2:before {
	content: "\e09e";
}
.icomoon-icon-equalizer:before {
	content: "\e09f";
}
.icomoon-icon-equalizer-2:before {
	content: "\e0a0";
}
.icomoon-icon-cog:before {
	content: "\e0a1";
}
.icomoon-icon-cog-2:before {
	content: "\e0a2";
}
.icomoon-icon-cogs:before {
	content: "\e0a3";
}
.icomoon-icon-factory:before {
	content: "\e0a4";
}
.icomoon-icon-tools:before {
	content: "\e0a5";
}
.icomoon-icon-hammer:before {
	content: "\e0a6";
}
.icomoon-icon-screwdriver:before {
	content: "\e0a7";
}
.icomoon-icon-wand:before {
	content: "\e0a8";
}
.icomoon-icon-wand-2:before {
	content: "\e0a9";
}
.icomoon-icon-health:before {
	content: "\e0aa";
}
.icomoon-icon-aid:before {
	content: "\e0ab";
}
.icomoon-icon-patch:before {
	content: "\e0ac";
}
.icomoon-icon-bug:before {
	content: "\e0ad";
}
.icomoon-icon-bug-2:before {
	content: "\e0ae";
}
.icomoon-icon-construction:before {
	content: "\e0af";
}
.icomoon-icon-cone:before {
	content: "\e0b0";
}
.icomoon-icon-pie:before {
	content: "\e0b1";
}
.icomoon-icon-pie-2:before {
	content: "\e0b2";
}
.icomoon-icon-graph:before {
	content: "\e0b3";
}
.icomoon-icon-bars:before {
	content: "\e0b4";
}
.icomoon-icon-bars-2:before {
	content: "\e0b5";
}
.icomoon-icon-stats-up:before {
	content: "\e0b6";
}
.icomoon-icon-stats-down:before {
	content: "\e0b7";
}
.icomoon-icon-chart:before {
	content: "\e0b8";
}
.icomoon-icon-stairs:before {
	content: "\e0b9";
}
.icomoon-icon-stairs-2:before {
	content: "\e0ba";
}
.icomoon-icon-ladder:before {
	content: "\e0bb";
}
.icomoon-icon-cake:before {
	content: "\e0bc";
}
.icomoon-icon-gift:before {
	content: "\e0bd";
}
.icomoon-icon-balloon:before {
	content: "\e0be";
}
.icomoon-icon-rating:before {
	content: "\e0bf";
}
.icomoon-icon-rating-2:before {
	content: "\e0c0";
}
.icomoon-icon-rating-3:before {
	content: "\e0c1";
}
.icomoon-icon-podium:before {
	content: "\e0c2";
}
.icomoon-icon-medal:before {
	content: "\e0c3";
}
.icomoon-icon-crown:before {
	content: "\e0c4";
}
.icomoon-icon-trophy:before {
	content: "\e0c5";
}
.icomoon-icon-trophy-2:before {
	content: "\e0c6";
}
.icomoon-icon-diamond:before {
	content: "\e0c7";
}
.icomoon-icon-cup:before {
	content: "\e0c8";
}
.icomoon-icon-bottle:before {
	content: "\e0c9";
}
.icomoon-icon-bottle-2:before {
	content: "\e0ca";
}
.icomoon-icon-mug:before {
	content: "\e0cb";
}
.icomoon-icon-mug-2:before {
	content: "\e0cc";
}
.icomoon-icon-food:before {
	content: "\e0cd";
}
.icomoon-icon-coffee:before {
	content: "\e0ce";
}
.icomoon-icon-leaf:before {
	content: "\e0cf";
}
.icomoon-icon-tree:before {
	content: "\e0d0";
}
.icomoon-icon-paw:before {
	content: "\e0d1";
}
.icomoon-icon-flower:before {
	content: "\e0d2";
}
.icomoon-icon-rocket:before {
	content: "\e0d3";
}
.icomoon-icon-meter:before {
	content: "\e0d4";
}
.icomoon-icon-meter-slow:before {
	content: "\e0d5";
}
.icomoon-icon-meter-medium:before {
	content: "\e0d6";
}
.icomoon-icon-meter-fast:before {
	content: "\e0d7";
}
.icomoon-icon-dashboard:before {
	content: "\e0d8";
}
.icomoon-icon-dashboard-2:before {
	content: "\e0d9";
}
.icomoon-icon-hammer-2:before {
	content: "\e0da";
}
.icomoon-icon-balance:before {
	content: "\e0db";
}
.icomoon-icon-bomb:before {
	content: "\e0dc";
}
.icomoon-icon-fire:before {
	content: "\e0dd";
}
.icomoon-icon-fire-2:before {
	content: "\e0de";
}
.icomoon-icon-lab:before {
	content: "\e0df";
}
.icomoon-icon-atom:before {
	content: "\e0e0";
}
.icomoon-icon-magnet:before {
	content: "\e0e1";
}
.icomoon-icon-skull:before {
	content: "\e0e2";
}
.icomoon-icon-lamp:before {
	content: "\e0e3";
}
.icomoon-icon-lamp-2:before {
	content: "\e0e4";
}
.icomoon-icon-lamp-3:before {
	content: "\e0e5";
}
.icomoon-icon-remove:before {
	content: "\e0e6";
}
.icomoon-icon-remove-2:before {
	content: "\e0e7";
}
.icomoon-icon-remove-3:before {
	content: "\e0e8";
}
.icomoon-icon-remove-4:before {
	content: "\e0e9";
}
.icomoon-icon-remove-5:before {
	content: "\e0ea";
}
.icomoon-icon-remove-6:before {
	content: "\e0eb";
}
.icomoon-icon-recycle:before {
	content: "\e0ec";
}
.icomoon-icon-pin:before {
	content: "\e0ed";
}
.icomoon-icon-briefcase:before {
	content: "\e0ee";
}
.icomoon-icon-briefcase-2:before {
	content: "\e0ef";
}
.icomoon-icon-briefcase-3:before {
	content: "\e0f0";
}
.icomoon-icon-airplane:before {
	content: "\e0f1";
}
.icomoon-icon-airplane-2:before {
	content: "\e0f2";
}
.icomoon-icon-paper-plane:before {
	content: "\e0f3";
}
.icomoon-icon-cars:before {
	content: "\e0f4";
}
.icomoon-icon-bus:before {
	content: "\e0f5";
}
.icomoon-icon-truck:before {
	content: "\e0f6";
}
.icomoon-icon-bike:before {
	content: "\e0f7";
}
.icomoon-icon-road:before {
	content: "\e0f8";
}
.icomoon-icon-cube:before {
	content: "\e0f9";
}
.icomoon-icon-cube-2:before {
	content: "\e0fa";
}
.icomoon-icon-puzzle:before {
	content: "\e0fb";
}
.icomoon-icon-glasses:before {
	content: "\e0fc";
}
.icomoon-icon-glasses-2:before {
	content: "\e0fd";
}
.icomoon-icon-3d-glasses:before {
	content: "\e0fe";
}
.icomoon-icon-glasses-3:before {
	content: "\e0ff";
}
.icomoon-icon-sun-glasses:before {
	content: "\e100";
}
.icomoon-icon-accessibility:before {
	content: "\e101";
}
.icomoon-icon-accessibility-2:before {
	content: "\e102";
}
.icomoon-icon-brain:before {
	content: "\e103";
}
.icomoon-icon-target:before {
	content: "\e104";
}
.icomoon-icon-target-2:before {
	content: "\e105";
}
.icomoon-icon-gun:before {
	content: "\e106";
}
.icomoon-icon-shield:before {
	content: "\e107";
}
.icomoon-icon-shield-2:before {
	content: "\e108";
}
.icomoon-icon-soccer:before {
	content: "\e109";
}
.icomoon-icon-football:before {
	content: "\e10a";
}
.icomoon-icon-baseball:before {
	content: "\e10b";
}
.icomoon-icon-basketball:before {
	content: "\e10c";
}
.icomoon-icon-hockey:before {
	content: "\e10d";
}
.icomoon-icon-racing:before {
	content: "\e10e";
}
.icomoon-icon-golf:before {
	content: "\e10f";
}
.icomoon-icon-lightning:before {
	content: "\e110";
}
.icomoon-icon-power:before {
	content: "\e111";
}
.icomoon-icon-power-2:before {
	content: "\e112";
}
.icomoon-icon-switch:before {
	content: "\e113";
}
.icomoon-icon-power-cord:before {
	content: "\e114";
}
.icomoon-icon-socket:before {
	content: "\e115";
}
.icomoon-icon-clipboard:before {
	content: "\e116";
}
.icomoon-icon-clipboard-2:before {
	content: "\e117";
}
.icomoon-icon-clipboard-3:before {
	content: "\e118";
}
.icomoon-icon-list-view:before {
	content: "\e119";
}
.icomoon-icon-list-view-2:before {
	content: "\e11a";
}
.icomoon-icon-playlist:before {
	content: "\e11b";
}
.icomoon-icon-grid-view:before {
	content: "\e11c";
}
.icomoon-icon-grid:before {
	content: "\e11d";
}
.icomoon-icon-grid-view-2:before {
	content: "\e11e";
}
.icomoon-icon-tree-view:before {
	content: "\e11f";
}
.icomoon-icon-menu:before {
	content: "\e120";
}
.icomoon-icon-menu-2:before {
	content: "\e121";
}
.icomoon-icon-cloud:before {
	content: "\e122";
}
.icomoon-icon-cloud-2:before {
	content: "\e123";
}
.icomoon-icon-cloud-3:before {
	content: "\e124";
}
.icomoon-icon-cloud-4:before {
	content: "\e125";
}
.icomoon-icon-cloud-5:before {
	content: "\e126";
}
.icomoon-icon-download:before {
	content: "\e127";
}
.icomoon-icon-download-2:before {
	content: "\e129";
}
.icomoon-icon-upload:before {
	content: "\e12a";
}
.icomoon-icon-upload-2:before {
	content: "\e12b";
}
.icomoon-icon-upload-3:before {
	content: "\e12c";
}
.icomoon-icon-upload-4:before {
	content: "\e12d";
}
.icomoon-icon-upload-5:before {
	content: "\e12e";
}
.icomoon-icon-globe:before {
	content: "\e130";
}
.icomoon-icon-anchor:before {
	content: "\e12f";
}
.icomoon-icon-network:before {
	content: "\e128";
}
.icomoon-icon-download-3:before {
	content: "\e131";
}
.icomoon-icon-link:before {
	content: "\e132";
}
.icomoon-icon-link-2:before {
	content: "\e133";
}
.icomoon-icon-link:before {
	content: "\e134";
}
.icomoon-icon-link-2:before {
	content: "\e135";
}
.icomoon-icon-link-3:before {
	content: "\e136";
}
.icomoon-icon-flag:before {
	content: "\e137";
}
.icomoon-icon-flag-2:before {
	content: "\e138";
}
.icomoon-icon-flag-3:before {
	content: "\e139";
}
.icomoon-icon-flag-4:before {
	content: "\e13a";
}
.icomoon-icon-attachment:before {
	content: "\e13b";
}
.icomoon-icon-eye:before {
	content: "\e13c";
}
.icomoon-icon-eye-2:before {
	content: "\e13d";
}
.icomoon-icon-eye-3:before {
	content: "\e13e";
}
.icomoon-icon-eye-4:before {
	content: "\e13f";
}
.icomoon-icon-bookmark:before {
	content: "\e140";
}
.icomoon-icon-bookmark-2:before {
	content: "\e141";
}
.icomoon-icon-starburst:before {
	content: "\e142";
}
.icomoon-icon-snowflake:before {
	content: "\e143";
}
.icomoon-icon-snow-man:before {
	content: "\e144";
}
.icomoon-icon-temperature:before {
	content: "\e145";
}
.icomoon-icon-temperature-2:before {
	content: "\e146";
}
.icomoon-icon-weather:before {
	content: "\e147";
}
.icomoon-icon-weather-2:before {
	content: "\e148";
}
.icomoon-icon-weather-3:before {
	content: "\e149";
}
.icomoon-icon-windy:before {
	content: "\e14a";
}
.icomoon-icon-fan:before {
	content: "\e14b";
}
.icomoon-icon-umbrella:before {
	content: "\e14c";
}
.icomoon-icon-weather-4:before {
	content: "\e14d";
}
.icomoon-icon-sun:before {
	content: "\e14e";
}
.icomoon-icon-contrast:before {
	content: "\e14f";
}
.icomoon-icon-contrast-2:before {
	content: "\e150";
}
.icomoon-icon-moon:before {
	content: "\e151";
}
.icomoon-icon-bed:before {
	content: "\e152";
}
.icomoon-icon-bed-2:before {
	content: "\e153";
}
.icomoon-icon-star:before {
	content: "\e154";
}
.icomoon-icon-star-2:before {
	content: "\e155";
}
.icomoon-icon-star-3:before {
	content: "\e156";
}
.icomoon-icon-star-4:before {
	content: "\e157";
}
.icomoon-icon-star-5:before {
	content: "\e158";
}
.icomoon-icon-star-6:before {
	content: "\e159";
}
.icomoon-icon-heart:before {
	content: "\e15a";
}
.icomoon-icon-heart-2:before {
	content: "\e15b";
}
.icomoon-icon-heart-3:before {
	content: "\e15c";
}
.icomoon-icon-heart-4:before {
	content: "\e15d";
}
.icomoon-icon-heart-5:before {
	content: "\e15e";
}
.icomoon-icon-heart-6:before {
	content: "\e15f";
}
.icomoon-icon-heart-7:before {
	content: "\e160";
}
.icomoon-icon-heart-8:before {
	content: "\e161";
}
.icomoon-icon-thumbs-up:before {
	content: "\e162";
}
.icomoon-icon-thumbs-down:before {
	content: "\e163";
}
.icomoon-icon-thumbs-up-2:before {
	content: "\e164";
}
.icomoon-icon-thumbs-down-2:before {
	content: "\e165";
}
.icomoon-icon-thumbs-up-3:before {
	content: "\e166";
}
.icomoon-icon-thumbs-down-3:before {
	content: "\e167";
}
.icomoon-icon-people:before {
	content: "\e168";
}
.icomoon-icon-man:before {
	content: "\e169";
}
.icomoon-icon-male:before {
	content: "\e16a";
}
.icomoon-icon-woman:before {
	content: "\e16b";
}
.icomoon-icon-female:before {
	content: "\e16c";
}
.icomoon-icon-peace:before {
	content: "\e16d";
}
.icomoon-icon-yin-yang:before {
	content: "\e16e";
}
.icomoon-icon-ampersand:before {
	content: "\e16f";
}
.icomoon-icon-ampersand-2:before {
	content: "\e170";
}
.icomoon-icon-happy:before {
	content: "\e171";
}
.icomoon-icon-happy-2:before {
	content: "\e172";
}
.icomoon-icon-smiley:before {
	content: "\e173";
}
.icomoon-icon-smiley-2:before {
	content: "\e174";
}
.icomoon-icon-neutral:before {
	content: "\e175";
}
.icomoon-icon-neutral-2:before {
	content: "\e176";
}
.icomoon-icon-sad:before {
	content: "\e177";
}
.icomoon-icon-sad-2:before {
	content: "\e178";
}
.icomoon-icon-shocked:before {
	content: "\e179";
}
.icomoon-icon-shocked-2:before {
	content: "\e17a";
}
.icomoon-icon-pointer:before {
	content: "\e17b";
}
.icomoon-icon-hand:before {
	content: "\e17c";
}
.icomoon-icon-move:before {
	content: "\e17d";
}
.icomoon-icon-resize:before {
	content: "\e17e";
}
.icomoon-icon-resize-2:before {
	content: "\e17f";
}
.icomoon-icon-warning:before {
	content: "\e180";
}
.icomoon-icon-warning-2:before {
	content: "\e181";
}
.icomoon-icon-plus:before {
	content: "\e182";
}
.icomoon-icon-minus:before {
	content: "\e183";
}
.icomoon-icon-help:before {
	content: "\e184";
}
.icomoon-icon-help-2:before {
	content: "\e185";
}
.icomoon-icon-info:before {
	content: "\e186";
}
.icomoon-icon-info-2:before {
	content: "\e187";
}
.icomoon-icon-blocked:before {
	content: "\e188";
}
.icomoon-icon-blocked-2:before {
	content: "\e189";
}
.icomoon-icon-error:before {
	content: "\e18a";
}
.icomoon-icon-cancel:before {
	content: "\e18b";
}
.icomoon-icon-cancel-2:before {
	content: "\e18c";
}
.icomoon-icon-cancel-3:before {
	content: "\e18d";
}
.icomoon-icon-cancel-4:before {
	content: "\e18e";
}
.icomoon-icon-checkmark:before {
	content: "\e18f";
}
.icomoon-icon-checkmark-2:before {
	content: "\e190";
}
.icomoon-icon-checkmark-3:before {
	content: "\e191";
}
.icomoon-icon-spell-check:before {
	content: "\e192";
}
.icomoon-icon-minus-2:before {
	content: "\e193";
}
.icomoon-icon-minus-3:before {
	content: "\e194";
}
.icomoon-icon-plus-2:before {
	content: "\e195";
}
.icomoon-icon-plus-3:before {
	content: "\e196";
}
.icomoon-icon-enter:before {
	content: "\e197";
}
.icomoon-icon-exit:before {
	content: "\e198";
}
.icomoon-icon-exit-2:before {
	content: "\e199";
}
.icomoon-icon-play:before {
	content: "\e19a";
}
.icomoon-icon-pause:before {
	content: "\e19b";
}
.icomoon-icon-stop:before {
	content: "\e19c";
}
.icomoon-icon-volume-high:before {
	content: "\e19d";
}
.icomoon-icon-volume-medium:before {
	content: "\e19e";
}
.icomoon-icon-volume-low:before {
	content: "\e19f";
}
.icomoon-icon-mute:before {
	content: "\e1a0";
}
.icomoon-icon-mute-2:before {
	content: "\e1a1";
}
.icomoon-icon-volume-increase:before {
	content: "\e1a2";
}
.icomoon-icon-volume-decrease:before {
	content: "\e1a3";
}
.icomoon-icon-volume:before {
	content: "\e1a4";
}
.icomoon-icon-volume-2:before {
	content: "\e1a5";
}
.icomoon-icon-volume-3:before {
	content: "\e1a6";
}
.icomoon-icon-volume-4:before {
	content: "\e1a7";
}
.icomoon-icon-volume-5:before {
	content: "\e1a8";
}
.icomoon-icon-volume-6:before {
	content: "\e1a9";
}
.icomoon-icon-next:before {
	content: "\e1aa";
}
.icomoon-icon-previous:before {
	content: "\e1ab";
}
.icomoon-icon-first:before {
	content: "\e1ac";
}
.icomoon-icon-last:before {
	content: "\e1ad";
}
.icomoon-icon-loop:before {
	content: "\e1ae";
}
.icomoon-icon-loop-2:before {
	content: "\e1af";
}
.icomoon-icon-loop-3:before {
	content: "\e1b0";
}
.icomoon-icon-shuffle:before {
	content: "\e1b1";
}
.icomoon-icon-arrow-first:before {
	content: "\e1b2";
}
.icomoon-icon-arrow-last:before {
	content: "\e1b3";
}
.icomoon-icon-arrow-up:before {
	content: "\e1b4";
}
.icomoon-icon-arrow-right:before {
	content: "\e1b5";
}
.icomoon-icon-arrow-down:before {
	content: "\e1b6";
}
.icomoon-icon-arrow-left:before {
	content: "\e1b7";
}
.icomoon-icon-arrow-up-2:before {
	content: "\e1b8";
}
.icomoon-icon-arrow-right-2:before {
	content: "\e1b9";
}
.icomoon-icon-arrow-down-2:before {
	content: "\e1ba";
}
.icomoon-icon-arrow-left-2:before {
	content: "\e1bb";
}
.icomoon-icon-arrow-up-left:before {
	content: "\e1bc";
}
.icomoon-icon-arrow-up-3:before {
	content: "\e1bd";
}
.icomoon-icon-arrow-up-right:before {
	content: "\e1be";
}
.icomoon-icon-arrow-right-3:before {
	content: "\e1bf";
}
.icomoon-icon-arrow-down-right:before {
	content: "\e1c0";
}
.icomoon-icon-arrow-down-3:before {
	content: "\e1c1";
}
.icomoon-icon-arrow-down-left:before {
	content: "\e1c2";
}
.icomoon-icon-arrow-left-3:before {
	content: "\e1c3";
}
.icomoon-icon-arrow-up-left-2:before {
	content: "\e1c4";
}
.icomoon-icon-arrow-up-4:before {
	content: "\e1c5";
}
.icomoon-icon-arrow-up-right-2:before {
	content: "\e1c6";
}
.icomoon-icon-arrow-right-4:before {
	content: "\e1c7";
}
.icomoon-icon-arrow-down-right-2:before {
	content: "\e1c8";
}
.icomoon-icon-arrow-down-4:before {
	content: "\e1c9";
}
.icomoon-icon-arrow-down-left-2:before {
	content: "\e1ca";
}
.icomoon-icon-arrow-left-4:before {
	content: "\e1cb";
}
.icomoon-icon-arrow-up-left-3:before {
	content: "\e1cc";
}
.icomoon-icon-arrow-up-5:before {
	content: "\e1cd";
}
.icomoon-icon-arrow-up-right-3:before {
	content: "\e1ce";
}
.icomoon-icon-arrow-right-5:before {
	content: "\e1cf";
}
.icomoon-icon-arrow-down-right-3:before {
	content: "\e1d0";
}
.icomoon-icon-arrow-down-5:before {
	content: "\e1d1";
}
.icomoon-icon-arrow-down-left-3:before {
	content: "\e1d2";
}
.icomoon-icon-arrow-left-5:before {
	content: "\e1d3";
}
.icomoon-icon-arrow-up-6:before {
	content: "\e1d4";
}
.icomoon-icon-arrow-right-6:before {
	content: "\e1d5";
}
.icomoon-icon-arrow-down-6:before {
	content: "\e1d6";
}
.icomoon-icon-arrow-left-6:before {
	content: "\e1d7";
}
.icomoon-icon-arrow-up-7:before {
	content: "\e1d8";
}
.icomoon-icon-arrow-right-7:before {
	content: "\e1d9";
}
.icomoon-icon-arrow-down-7:before {
	content: "\e1da";
}
.icomoon-icon-arrow-left-7:before {
	content: "\e1db";
}
.icomoon-icon-arrow-up-8:before {
	content: "\e1dc";
}
.icomoon-icon-arrow-right-8:before {
	content: "\e1dd";
}
.icomoon-icon-arrow-down-8:before {
	content: "\e1de";
}
.icomoon-icon-arrow-left-8:before {
	content: "\e1df";
}
.icomoon-icon-arrow-up-9:before {
	content: "\e1e0";
}
.icomoon-icon-arrow-right-9:before {
	content: "\e1e1";
}
.icomoon-icon-arrow-down-9:before {
	content: "\e1e2";
}
.icomoon-icon-arrow-left-9:before {
	content: "\e1e3";
}
.icomoon-icon-arrow-up-10:before {
	content: "\e1e4";
}
.icomoon-icon-arrow-right-10:before {
	content: "\e1e5";
}
.icomoon-icon-arrow-down-10:before {
	content: "\e1e6";
}
.icomoon-icon-arrow-left-10:before {
	content: "\e1e7";
}
.icomoon-icon-menu:before {
	content: "\e1e8";
}
.icomoon-icon-enter-2:before {
	content: "\e1e9";
}
.icomoon-icon-enter-3:before {
	content: "\e1ea";
}
.icomoon-icon-backspace:before {
	content: "\e1eb";
}
.icomoon-icon-backspace-2:before {
	content: "\e1ec";
}
.icomoon-icon-tab:before {
	content: "\e1ed";
}
.icomoon-icon-tab-2:before {
	content: "\e1ee";
}
.icomoon-icon-command:before {
	content: "\e1ef";
}
.icomoon-icon-checkbox:before {
	content: "\e1f0";
}
.icomoon-icon-checkbox-unchecked:before {
	content: "\e1f1";
}
.icomoon-icon-checkbox-partial:before {
	content: "\e1f2";
}
.icomoon-icon-checkbox-2:before {
	content: "\e1f3";
}
.icomoon-icon-checkbox-unchecked-2:before {
	content: "\e1f4";
}
.icomoon-icon-checkbox-partial-2:before {
	content: "\e1f5";
}
.icomoon-icon-radio-checked:before {
	content: "\e1f6";
}
.icomoon-icon-radio-unchecked:before {
	content: "\e1f7";
}
.icomoon-icon-crop:before {
	content: "\e1f8";
}
.icomoon-icon-vector:before {
	content: "\e1f9";
}
.icomoon-icon-rulers:before {
	content: "\e1fa";
}
.icomoon-icon-scissors:before {
	content: "\e1fb";
}
.icomoon-icon-scissors-2:before {
	content: "\e1fc";
}
.icomoon-icon-filter:before {
	content: "\e1fd";
}
.icomoon-icon-type:before {
	content: "\e1fe";
}
.icomoon-icon-font-size:before {
	content: "\e1ff";
}
.icomoon-icon-bold:before {
	content: "\e200";
}
.icomoon-icon-italic:before {
	content: "\e201";
}
.icomoon-icon-underline:before {
	content: "\e202";
}
.icomoon-icon-font:before {
	content: "\e203";
}
.icomoon-icon-paragraph-left:before {
	content: "\e204";
}
.icomoon-icon-paragraph-center:before {
	content: "\e205";
}
.icomoon-icon-paragraph-right:before {
	content: "\e206";
}
.icomoon-icon-left-to-right:before {
	content: "\e207";
}
.icomoon-icon-right-to-left:before {
	content: "\e208";
}
.icomoon-icon-out:before {
	content: "\e209";
}
.icomoon-icon-out-2:before {
	content: "\e20a";
}
.icomoon-icon-popout:before {
	content: "\e20b";
}
.icomoon-icon-embed:before {
	content: "\e20c";
}
.icomoon-icon-code:before {
	content: "\e20d";
}
.icomoon-icon-seven-segment:before {
	content: "\e20e";
}
.icomoon-icon-seven-segment-2:before {
	content: "\e20f";
}
.icomoon-icon-seven-segment-3:before {
	content: "\e210";
}
.icomoon-icon-seven-segment-4:before {
	content: "\e211";
}
.icomoon-icon-seven-segment-5:before {
	content: "\e212";
}
.icomoon-icon-seven-segment-6:before {
	content: "\e213";
}
.icomoon-icon-seven-segment-7:before {
	content: "\e214";
}
.icomoon-icon-seven-segment-8:before {
	content: "\e215";
}
.icomoon-icon-seven-segment-9:before {
	content: "\e216";
}
.icomoon-icon-seven-segment-10:before {
	content: "\e217";
}
.icomoon-icon-bluetooth:before {
	content: "\e218";
}
.icomoon-icon-share:before {
	content: "\e219";
}
.icomoon-icon-share-2:before {
	content: "\e21a";
}
.icomoon-icon-mail:before {
	content: "\e21b";
}
.icomoon-icon-mail-2:before {
	content: "\e21c";
}
.icomoon-icon-google-plus:before {
	content: "\e21d";
}
.icomoon-icon-google-plus-2:before {
	content: "\e21e";
}
.icomoon-icon-google-plus-3:before {
	content: "\e21f";
}
.icomoon-icon-gplus:before {
	content: "\e220";
}
.icomoon-icon-facebook:before {
	content: "\e221";
}
.icomoon-icon-facebook-2:before {
	content: "\e222";
}
.icomoon-icon-facebook-3:before {
	content: "\e223";
}
.icomoon-icon-facebook-4:before {
	content: "\e224";
}
.icomoon-icon-twitter:before {
	content: "\e225";
}
.icomoon-icon-twitter-2:before {
	content: "\e226";
}
.icomoon-icon-twitter-3:before {
	content: "\e227";
}
.icomoon-icon-feed:before {
	content: "\e228";
}
.icomoon-icon-feed-2:before {
	content: "\e229";
}
.icomoon-icon-feed-3:before {
	content: "\e22a";
}
.icomoon-icon-youtube:before {
	content: "\e22b";
}
.icomoon-icon-youtube-2:before {
	content: "\e22c";
}
.icomoon-icon-vimeo:before {
	content: "\e22d";
}
.icomoon-icon-vimeo-2:before {
	content: "\e22e";
}
.icomoon-icon-flickr:before {
	content: "\e22f";
}
.icomoon-icon-flickr-2:before {
	content: "\e230";
}
.icomoon-icon-flickr-3:before {
	content: "\e231";
}
.icomoon-icon-picassa:before {
	content: "\e232";
}
.icomoon-icon-picassa-2:before {
	content: "\e233";
}
.icomoon-icon-dribbble:before {
	content: "\e234";
}
.icomoon-icon-dribbble-2:before {
	content: "\e235";
}
.icomoon-icon-dribbble-3:before {
	content: "\e236";
}
.icomoon-icon-forrst:before {
	content: "\e237";
}
.icomoon-icon-forrst-2:before {
	content: "\e238";
}
.icomoon-icon-deviantart:before {
	content: "\e239";
}
.icomoon-icon-deviantart-2:before {
	content: "\e23a";
}
.icomoon-icon-github:before {
	content: "\e23b";
}
.icomoon-icon-github-2:before {
	content: "\e23c";
}
.icomoon-icon-github-3:before {
	content: "\e23d";
}
.icomoon-icon-github-4:before {
	content: "\e23e";
}
.icomoon-icon-github-5:before {
	content: "\e23f";
}
.icomoon-icon-github-6:before {
	content: "\e240";
}
.icomoon-icon-git:before {
	content: "\e241";
}
.icomoon-icon-github-7:before {
	content: "\e242";
}
.icomoon-icon-wordpress:before {
	content: "\e243";
}
.icomoon-icon-wordpress-2:before {
	content: "\e244";
}
.icomoon-icon-blogger:before {
	content: "\e245";
}
.icomoon-icon-blogger-2:before {
	content: "\e246";
}
.icomoon-icon-tumblr:before {
	content: "\e247";
}
.icomoon-icon-tumblr-2:before {
	content: "\e248";
}
.icomoon-icon-yahoo:before {
	content: "\e249";
}
.icomoon-icon-yahoo-2:before {
	content: "\e24a";
}
.icomoon-icon-amazon:before {
	content: "\e24b";
}
.icomoon-icon-amazon-2:before {
	content: "\e24c";
}
.icomoon-icon-apple:before {
	content: "\e24d";
}
.icomoon-icon-finder:before {
	content: "\e24e";
}
.icomoon-icon-android:before {
	content: "\e24f";
}
.icomoon-icon-windows:before {
	content: "\e250";
}
.icomoon-icon-soundcloud:before {
	content: "\e251";
}
.icomoon-icon-soundcloud-2:before {
	content: "\e252";
}
.icomoon-icon-skype:before {
	content: "\e253";
}
.icomoon-icon-reddit:before {
	content: "\e254";
}
.icomoon-icon-linkedin:before {
	content: "\e255";
}
.icomoon-icon-lastfm:before {
	content: "\e256";
}
.icomoon-icon-lastfm-2:before {
	content: "\e257";
}
.icomoon-icon-delicious:before {
	content: "\e258";
}
.icomoon-icon-stumbleupon:before {
	content: "\e259";
}
.icomoon-icon-stumbleupon-2:before {
	content: "\e25a";
}
.icomoon-icon-pinterest:before {
	content: "\e25b";
}
.icomoon-icon-pinterest-2:before {
	content: "\e25c";
}
.icomoon-icon-xing:before {
	content: "\e25d";
}
.icomoon-icon-libreoffice:before {
	content: "\e25e";
}
.icomoon-icon-file-pdf:before {
	content: "\e25f";
}
.icomoon-icon-file-openoffice:before {
	content: "\e260";
}
.icomoon-icon-file-word:before {
	content: "\e261";
}
.icomoon-icon-file-excel:before {
	content: "\e262";
}
.icomoon-icon-file-powerpoint:before {
	content: "\e263";
}
.icomoon-icon-file-zip:before {
	content: "\e264";
}
.icomoon-icon-file-xml:before {
	content: "\e265";
}
.icomoon-icon-file-css:before {
	content: "\e266";
}
.icomoon-icon-html5:before {
	content: "\e267";
}
.icomoon-icon-html5-2:before {
	content: "\e268";
}
.icomoon-icon-css3:before {
	content: "\e269";
}
.icomoon-icon-chrome:before {
	content: "\e26a";
}
.icomoon-icon-firefox:before {
	content: "\e26b";
}
.icomoon-icon-IE:before {
	content: "\e26c";
}
.icomoon-icon-opera:before {
	content: "\e26d";
}
.icomoon-icon-safari:before {
	content: "\e26e";
}
.icomoon-icon-IcoMoon:before {
	content: "\e26f";
}
