.sidebar-nav {
	padding: 9px 0;
	box-shadow: 0 0 10px #BDBDBD;
}
.modal-body {
	max-height:500px;
}
/**************************
 the nva dropdown menu
**************************/
#department-menu, #building-group-menu {
	width:800px;	
}

#department-menu h4, #building-group-menu  h4 {
	margin-left:5px;
}

#department-menu ul, #building-group-menu ul{
	list-style-type: none;
	margin-left:10px;
}

#department-menu ul li, #building-group-menu ul li{
	margin-bottom:5px;
}

#department-menu ul li a, #building-group-menu ul li a {
  display: block;
  padding: 3px 5px;
  clear: both;
  font-family: 微软雅黑;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  /*white-space: nowrap;
  overflow-x: hidden;*/
}

#department-menu ul li a:hover,
#department-menu ul li a:focus,
#building-group-menu ul li a:hover,
#building-group-menu ul li a:focus{
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

/***************************
	nav bar login
****************************/
#navbar-login .btn {
	margin-top:0;
}

/***************************
 box content
****************************/
.box{
	border: 1px solid #DEDEDE;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	margin-bottom: 10px;
	box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box-header{
	border:none;
	padding-top:5px;
	border-bottom: 1px solid #DEDEDE;
	border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	height:12px;
	min-height:12px;
	margin-bottom: 0;
	font-weight:bold;
	font-size:16px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=0 );
}

.box-header h2{
	font-size:15px;
	width:auto;
	clear:none;
	float:left;
	line-height:25px;
	margin:0;
}
.box-header h3{
	font-size:13px;
	width:auto;
	clear:none;
	float:left;
	line-height:25px;
}
.box-header h2 > i{
	margin-top:1px;
}
.box-content{
	padding:10px;
}

/***************************
  data table
****************************/
table {
	font-size:13px;
}
table.datatable th {
	cursor: pointer;
}
.table tbody td { vertical-align:middle; }
div.dataTables_length select {
	width: 80px;
}
.dataTables_filter input, .dataTables_length select {
	display: inline-block;
	margin-bottom: 0;
}

div.center, p.center, img.center {
	display: block;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}

.dataTables_wrapper .dataTables_paginate {
	height: 30px;
}

.datatable td{
	max-width:200px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

div#svg {
	height:500px;
	width:100%;
	overflow:scroll;
	border:1px solid rgba(148,148,148,0.8);
	margin:0;
	padding:0;	
}

