@model int
@{    
    //ViewBag.Title = "楼群主页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">导航</li>
            <li class="active"><a href="#" id="building-group-summary">摘要</a></li>
            <li><a href="#" id="building-group-details">详细</a></li>
            <li><a href="#" id="building-group-statistic">统计</a></li>
            <li><a href="#">展示</a></li>
            <li class="nav-header" id="building-list">楼宇列表</li>          
            <li class="nav-header">房屋信息</li>
            <li><a href="#" id="room-list">房间列表</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
</div>

<div class="span10">
    <div id="ajax-content1">
        @Html.Action("Summary", "BuildingGroup", new { area = "Estate", id = Model })
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $(function () {
        $.getJSON('/Estate/Building/GetListByBuildingGroup', { buildingGroupId: @Model }, function (response) {
            var text = [];
            $.each(response, function(i, item) {
                text.push("<li><a href='#' class='building-index' ref='" + item.Id + "'>" + item.Name + "</a></li>");
            });
            text = text.join('');
            $('li#building-list').after(text);

            $('a.building-index').click(function() {
                menuNavActive($(this));
                var buildingId = $(this).attr('ref');
                ajaxLoadPage("Index", "Building", "Estate", { id: buildingId });
                return false;
            });
        });

        $('a#building-group-summary').click(function() {
            menuNavActive($(this));
            ajaxLoadPage("Summary", "BuildingGroup", "Estate", { id: @Model });
            return false;
        });

        $('a#building-group-details').click(function() {
            menuNavActive($(this));
            ajaxLoadPage("Details", "BuildingGroup", "Estate", { id: @Model });
            return false;
        });

        $('a#building-group-statistic').click(function() {
            menuNavActive($(this));
            ajaxLoadPage("Statistic", "BuildingGroup", "Estate", { id: @Model });
            return false;
        });

        $('a#room-list').click(function() {
            menuNavActive($(this));
            ajaxLoadPage("ListByBuildingGroup", "Room", "Estate", { buildingGroupId: @Model });
            return false;
        });
    });
</script>
}