@model int
@{
    ViewBag.Title = "楼群主页";
    Layout = null;
}

@Html.Action("Details", "BuildingGroup", new { area = "Estate", id = Model })

@Html.Action("List", "Building", new { area = "Estate", buildingGroupId = Model })

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-user"></i>管理员操作</h2>
    </div>
    <div class="box-content">
        <div class="row-fluid ">
            <div class="span12">
                <p>
                    <a class="btn" id="edit" href="#"><i class="icon-edit"></i>编辑</a> 
                    <a class="btn" id="delete" href="#"><i class="icon-remove"></i>删除</a> 
                    <a class="btn" id="create-building" href="#"><i class="icon-plus"></i>添加楼宇</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('a#edit').click(function () {
            var request = { id: '@Model' };
            ajaxLoadPage("Edit", "BuildingGroup", "Estate", request);
            return false;
        });

        $('a#delete').click(function () {
            var request = { id: '@Model' };
            ajaxLoadPage("Delete", "BuildingGroup", "Estate", request);
            return false;
        });

        $('a#create-building').click(function () {
            ajaxLoadPage("Create", "Building", "Estate", {});
            return false;
        });        
    });
</script>
