@model Rhea.UI.Areas.Estate.Models.WaterModel

@{
    ViewBag.Title = "用水情况";
}

<div class="page-header">
    <h3>
        @ViewBag.Title
    </h3>
</div>


<div class="row-fluid">
    <div class="span12">
        <div class="box chart gradient">
            <div class="title">
                <h4>
                    <span class="icon16 icomoon-icon-bars"></span><span>24小时用水</span>
                </h4>
                <a href="#" class="minimize">Minimize</a>
            </div>

            <div class="content">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                            <input id="date-select" type="text" placeholder="@DateTime.Now.ToString("yyyy-MM-dd")">
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div id="container-water-column" style="width: 99%; height:400px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dataList;
        var colors = Highcharts.getOptions().colors;

        var waterdate = $('#date-select').datepicker({ format: 'yyyy-mm-dd', autoclose: true, language: "zh-CN" })
           .on('changeDate', function (e) {
               var d = e.date.getDate();
               var m = e.date.getMonth();
               m += 1;
               var y = e.date.getFullYear();
               var s = y + '-' + m + '-' + d;
               loadData(s);
           });

        loadData('@DateTime.Now');

        function loadData(date) {
            $.getJSON('/Estate/BuildingGroup/GetWater', { id: '@Model.BuildingId', date: date }, function (response) {
                dataList = response;
                if (response != null)
                    setColumnChart(dataList);
            });
        }

        function setColumnChart(data) {
            var option = {
                chart: {
                    renderTo: 'container-water-column',
                    type: 'column'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: [],
                    title: {
                        text: '小时'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '用水量 (t)'
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '' + this.y + ' t';
                    }
                },
                plotOptions: {
                    column: {
                        borderWidth: 0
                    }
                },
                series: [{
                    name: "用水量",
                    color: colors[2],
                    data: [],
                    dataLabels: {
                        enabled: true,
                        color: '#3E576F'
                    }
                }]
            };

            $.each(data, function (i, item) {
                option.series[0].data.push(parseFloat(item.HourValue));
                
                var parsedDate = new Date(parseInt(item.ReadingDate.substr(6)));
                var jsDate = new Date(parsedDate); //Date object
               
                option.xAxis.categories.push(jsDate.getHours());
            });

            var chart2 = new Highcharts.Chart(option);
        }
    });
</script>
