@{   
    Layout = null;
}

<div class="resBtnSearch">
    <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
</div>
<div class="search">
    <form id="searchform" action="#">
    <input type="text" id="tipue_search_input" class="top-search" placeholder="Search here ..." />
    <input type="submit" id="tipue_search_button" class="search-btn" value="" />
    </form>
</div>
<!-- End search -->
