@model int?

<select class="form-control" id="BuildingId" name="BuildingId">
    <option value="">-- 请选择 --</option>
    @{
        BuildingBusiness business = new BuildingBusiness();
        var data = business.GetChildBlocks(200037);
    }
    @foreach (var item in data)
    {
        <option value="@item.BuildingId" @(Model == item.BuildingId ? "selected='selected'" : "")>
            @item.Name
        </option>
    }
</select>
