/***  map css  ***/
#popinfo { width:100%; height:100%; display:block;}
#popinfo h3 { margin: 0.5em 0; }
#popinfo h3 a { float: right; font-size: 14px; margin-right: 10px; }

#popinfo #infoleft { float:left; }
#popinfo #infoleft ul { margin: 0 0.5em; padding: 0;}
#popinfo #infoleft ul li { list-style-type: none; margin-bottom:10px; }

#popinfo #inforight { float:left; margin-left: 10px;}
#popinfo #inforight img { width: 256px; height: 192px;}