@using Rhea.Data.Estate
@using Rhea.Common
@{
    ViewBag.Title = "楼群筛选";
    Layout = null;
}

<style type="text/css">
    ul#check-list { list-style-type: none; padding:0; margin: 5px 0 5px 10px; }
    ul#check-list li { margin-bottom: 5px; float:left; width:220px; }
    ul#check-list li input { margin-bottom: 2px; margin-right:5px; }
</style>

<div class="row-fluid">
    <div class="span12">

        <div class="box chart gradient closed">
            <div class="title">
                <h4>
                    <span class="icon16 icomoon-icon-wand"></span><span>@ViewBag.Title</span>
                </h4>
                <a href="#" class="minimize">Minimize</a>
            </div>

            <div class="content">
                <div class="row-fluid">
                    <div class="span12">
                        <ul id="check-list">
                        @foreach (BuildingUseType o in Enum.GetValues(typeof(BuildingUseType)))
                        {
                            <li>
                                <label class="checkbox">
                                    <input class="building-group-type" type="checkbox" checked="checked" value="@Convert.ToInt32(o)" />@o.DisplayName()
                                </label>
                            </li>
                        }
                        </ul>
                    </div>
                </div> 
                <div class="row-fluid">
                    <div class="span12">
                        <p>
                            <button class="btn btn-info" id="select-all">
                                全选</button>
                            <button class="btn btn-info" id="select-none">
                                取消</button>
                            <button class="btn btn-success" id="compare">
                                <i class="icon-refresh"></i>
                                比 较</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('button#select-all').click(function () {
            $('#check-list input:checkbox').prop('checked', true);
            return false;
        });

        $('button#select-none').click(function () {
            $('#check-list input:checkbox').prop('checked', false);
            return false;
        });
    });
</script>
