@{
    ViewBag.Title = "学院分类用房比较";
    Layout = null;
}

@Html.Action("DepartmentFilter", new { controller = "Statistic", area = "", type = 1 })

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-align-left"></i>@ViewBag.Title</h2>
    </div>
    <div class="box-content">       
        <div class="row-fluid">
            <div class="span12">
                <div id="container-department-classify-compare" style="width: 100%; height: 650px;">
                </div>
            </div>         
        </div>       
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dataList;
        var colors = Highcharts.getOptions().colors;

        $.getJSON('/Statistic/DepartmentClassifyAreaData', { type: 1 }, function (response) {
            dataList = response;           
            setStackChart(response);
        });

        $('button#compare').click(function () {
            var sel = [];
            $.each(dataList, function (i, item) {
                var id = dataList[i].DepartmentId;
                var $input = $('#check-list input:checkbox[value=' + id.toString() + ']');
                if ($input.prop('checked')) {
                    sel.push(dataList[i]);
                }
            });

            setStackChart(sel);
            return false;
        });

        function setStackChart(data) {
            var option = {
                chart: {
                    renderTo: 'container-department-classify-compare',
                    type: 'bar'
                },
                title: {
                    text: '学院分类用房对比图'
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    categories: []
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '总面积(m2)'
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'normal',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                legend: {
                    backgroundColor: '#FFFFFF',
                    reversed: true
                },
                tooltip: {
                    formatter: function () {
                        return '' + this.series.name + ': ' + this.y + ' m<sup>2</sup>';
                    }
                },
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                }
            };

            option.xAxis.categories = [];
            $.each(data, function (i, item) {
                option.xAxis.categories.push(item.DepartmentName);
            });            

            option.series = [];
            option.series[0] = { name: "办公用房", color: colors[0], data: [] };
            option.series[1] = { name: "教学用房", color: colors[1], data: [] };
            option.series[2] = { name: "实验用房", color: colors[2], data: [] };
            option.series[3] = { name: "科研用房", color: colors[3], data: [] };

            $.each(data, function (i, item) {
                for (var j = 0; j < 4; j++) {
                    option.series[j].data.push({ name: item.DepartmentName, y: parseFloat(item.FirstClassify[j].Area) });
                }                
            });

            var chart4 = new Highcharts.Chart(option);
        }
    });
</script>