@{
    ViewBag.Title = "学院建筑面积比较";
    Layout = null;
}

@Html.Action("DepartmentFilter", new { controller = "Statistic", area = "", type = 1 })

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-align-left"></i>@ViewBag.Title</h2>
    </div>
    <div class="box-content">       
        <div class="row-fluid">
            <div class="span12">
                <div id="container-buildarea-compare" style="width: 100%; height: 650px;">
                </div>
            </div>         
        </div>       
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dataList;
        var colors = Highcharts.getOptions().colors;

        $.getJSON('/Statistic/DepartmentTotalAreaCompareData', { type: 1, areaType: 2 }, function (response) {
            dataList = response;
            setStackChart(response);
        });

        $('button#compare').click(function () {
            var sel = [];
            $.each(dataList, function (i, item) {
                var id = dataList[i].DepartmentId;
                var $input = $('#check-list input:checkbox[value=' + id.toString() + ']');
                if ($input.prop('checked')) {
                    sel.push(dataList[i]);
                }
            });

            setStackChart(sel);
            return false;
        });

        function setStackChart(data) {
            var option = {
                chart: {
                    renderTo: 'container-buildarea-compare',
                    type: 'bar'
                },
                title: {
                    text: '学院建筑面积比较'
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    categories: []
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '建筑面积(m2)'
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'normal',
                            color: colors[1] || 'gray'
                        }
                    }
                },
                legend: {
                    backgroundColor: '#FFFFFF',
                    reversed: true
                },
                tooltip: {
                    formatter: function () {
                        return '' + this.series.name + ': ' + this.y + ' m<sup>2</sup>';
                    }
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                series: [{
                    name: '建筑面积',
                    color: colors[1],
                    data: []
                }]
            };

            option.xAxis.categories = [];
            $.each(data, function (i, item) {
                option.xAxis.categories.push(item.DepartmentName);
            });

            $.each(data, function (i, item) {
                option.series[0].data.push({ name: item.DepartmentName, y: parseFloat(item.BuildArea) });
            });

            var chart = new Highcharts.Chart(option);
        };
    });
</script>