@{
    ViewBag.Title = "统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">导航</li>
            <li class="active"><a href="#" id="department-summary">摘要</a></li>
            <li class="nav-header">建筑物面积数据</li>
            <li><a href="#" id="building-group-usable-area-compare">楼群使用面积比较</a></li>
            <li><a href="#" id="building-group-build-area-compare">楼群建筑面积比较</a></li>
            <li class="nav-header">学院房屋数据</li>
            <li><a href="#" id="department-usable-area-compare">学院使用面积比较</a></li>
            <li><a href="#" id="department-build-area-compare">学院建筑面积比较</a></li>
            <li><a href="#" id="department-building-area-statistic">学院楼宇用房统计</a></li>
        </ul>
    </div>
</div>

<div class="span10">
    <div id="ajax-content1">
    
    </div>
</div>


@section scripts {
<script type="text/javascript">
    $(function () {
        $('a#building-group-usable-area-compare').click(function () {
            menuNavActive($(this));
            ajaxLoadPage2("BuildingGroupUsableAreaCompare", "Statistic", {});
            return false;
        });

        $('a#building-group-build-area-compare').click(function () {
            menuNavActive($(this));
            ajaxLoadPage2("BuildingGroupBuildAreaCompare", "Statistic", {});
            return false;
        });
        
        $('a#department-usable-area-compare').click(function() {
            menuNavActive($(this));
            ajaxLoadPage2("DepartmentUsableAreaCompare", "Statistic", { });
            return false;
        });

        $('a#department-build-area-compare').click(function () {
            menuNavActive($(this));
            ajaxLoadPage2("DepartmentBuildAreaCompare", "Statistic", {});
            return false;
        });

        $('a#department-building-area-statistic').click(function () {
            menuNavActive($(this));
            ajaxLoadPage2("DepartmentBuildingAreaStatistic", "Statistic", {});
            return false;
        });
    });
</script>
}