@if (Request.IsAuthenticated)
{    
    <li class="dropdown">
        <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
            <img src="#" alt="" class="image" /> 
            <span class="txt">@User.Identity.Name</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="menu">
                <ul>
                    <li>
                        <a href="#"><span class="icon16 icomoon-icon-comments-2"></span>信息</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Setting", "Account")"><span class="icon16 icomoon-icon-user-3"></span>设置</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logout", "Account")"><span class="icon16 icomoon-icon-exit"></span>注销</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
}
else
{
    <li><a href="@Url.Action("Login", "Account")"><span class="icon16 icomoon-icon-user-2"></span> 登录</a></li>
}
