@model int
@{
    ViewBag.Title = "楼宇主页";
    Layout = null;
}

@Html.Action("Details", "Building", new { area = "Estate" })

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-user"></i>管理员操作</h2>
    </div>
    <div class="box-content">
        <div class="row-fluid ">
            <div class="span12">
                <p>
                    <a class="btn" id="edit" href="#"><i class="icon icon-edit"></i>编辑</a> 
                    <a class="btn" id="delete" href="#"><i class="icon-remove"></i>删除</a> 
                    <a class="btn" id="create-floor" href="#"><i class="icon-plus"></i>添加楼层</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
        $('a#edit').click(function () {
            var request = { id: '@Model' };
            ajaxLoadPage("Edit", "Building", "Estate", request);
            return false;
        });

        $('a#delete').click(function () {
            var request = { id: '@Model' };
            ajaxLoadPage("Delete", "Building", "Estate", request);
            return false;
        });

        $('a#create-floor').click(function () {
            ajaxLoadPage("Create", "Floor", "Estate", { buildingId : @Model});
            return false;
        });
    });
</script>