@{
    ViewBag.Title = "会议纪要";
    Layout = null;
}

@Html.Action("Heading", new { controller = "Common", area = "", title = ViewBag.Title, active = "房产纪要" })

<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
            <h4>会议纪要列表</h4>
        </div>

        <div class="content">
            <table id="department-list" class="table">
                <thead>
                    <tr>
                        <th>
                            文件名
                        </th>
                        <th>
                            发布时间
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">房改工作领导小组会议纪要20131210</a></td>
                        <td>2013-12-14</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
