@{
    ViewBag.Title = "房屋变动记录";
    Layout = null;
}

<link href="@Url.Content("~/Plugins/misc/eventline/css/history.css")" type="text/css" rel="stylesheet" />

@Html.Action("Heading", new { controller = "Common", area = "", title = ViewBag.Title, active = "房产纪要" })


<div class="row-fluid">
    <div class="span12">
        
            <div class="head">
                <div class="nav-box">
                    <ul>
                        <li class="cur" style="text-align:center; font-size:32px; font-family:'微软雅黑', '宋体';">房屋变动记录</li>
                    </ul>
                </div>
            </div>

        <div class="content">
            <div class="row-fluid">
                <div class="span12">
                    <div class="history">
                        <div class="history-date">
                            <ul>
                                <h2 class="first"><a href="#nogo">2014年</a></h2>

                                <li class="green">
                                    <h3>2014.4<span></span></h3>
                                    <dl>
                                        <dt>
                                            杂志社用房调整
                                        </dt>
                                    </dl>
                                </li>

                                <li>
                                    <h3>2014.4<span></span></h3>
                                    <dl>
                                        <dt>
                                            收发室用房调整
                                            <span>收发室搬至体育中心</span>
                                        </dt>
                                    </dl>
                                </li>

                                <li>
                                    <h3>2014.3<span></span></h3>
                                    <dl>
                                        <dt>
                                            行政楼用房微调
                                        </dt>
                                    </dl>
                                </li>

                                <li class="green">
                                    <h3>2014.3<span></span></h3>
                                    <dl>
                                        <dt>
                                            部门用房调换
                                        </dt>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                        <div class="history-date">
                            <ul>
                                <h2 class="date02"><a href="#nogo">2013年</a></h2>
                                <li class="green">
                                    <h3>2013.12<span></span></h3>
                                    <dl>
                                        <dt>
                                            至善学院发展用房调整
                                        </dt>
                                    </dl>
                                </li>
                                <li class="green">
                                    <h3>2013.11<span></span></h3>
                                    <dl>
                                        <dt>
                                            医学院临时借房间做实验室
                                        </dt>
                                    </dl>
                                </li>
                                <li class="green">
                                    <h3>2013.10<span></span></h3>
                                    <dl>
                                        <dt>
                                            青山湾校区置换
                                        </dt>
                                    </dl>
                                </li>
                                <li class="green">
                                    <h3>2013.9<span></span></h3>
                                    <dl>
                                        <dt>
                                            数媒经管楼搬迁调整
                                        </dt>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">

                    <hr />
                </div>
            </div>
        </div>

    </div>
</div>

<script src="@Url.Content("~/Plugins/misc/eventline/js/main.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        
    });
</script>