@{
    ViewBag.Title = "_Layout_Account";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">导航</li>
            <li class="active"><a href="@Url.Action("Index", new { controller = "Account", area = "Admin" })">主页</a></li>
            <li><a href="@Url.Action("List", new { controller = "UserGroup", area = "Admin" })" id="user-group-manage">用户组管理</a></li>
            <li><a href="@Url.Action("List", new { controller = "Account", area = "Admin" })" id="user-manage">用户管理</a></li>
        </ul>
    </div>
</div>

<div class="span10">
    @RenderBody()
</div>
