@{
    ViewBag.Title = "用户管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Account.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
</div>
