@model Rhea.UI.Areas.Apartment.Models.FloorModel

@{
    ViewBag.Title = Model.Floor.Name;
    Layout = null;
}

<style type="text/css">
    g rect, g path, g text {
        cursor: pointer;
    }

    #pic-legend {
        z-index: 9000;
        display: block;        
        position: absolute;
        right: 50px;
        top: 50px;
        padding:10px;
    }
</style>

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", new { area = "Apartment", controller = "Home" })">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">青教公寓</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1_2" data-toggle="tab">
                        平面图
                    </a>
                </li>
                <li>
                    <a href="#tab_1_3" data-toggle="tab">
                        房间
                    </a>
                </li>
                <li>
                    <a href="#tab_1_4" data-toggle="tab">
                        统计
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <!--tab_1_2-->
                <div class="tab-pane active" id="tab_1_2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-slack"></i>楼层平面图
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse">
                                        </a>
                                        <a href="javascript:;" class="reload">
                                        </a>
                                        <a href="javascript:;" class="remove">
                                        </a>
                                    </div>
                                    <div class="actions">
                                        <a href="#" id="zoom-in" class="btn btn-default btn-sm">
                                            <i class="fa fa-search-plus"></i> 放大
                                        </a>
                                        <a href="#" id="zoom-out" class="btn btn-default btn-sm">
                                            <i class="fa fa-search-minus"></i> 缩小
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div style="height:500px; overflow:auto;">
                                        <div id="svg"></div>
                                        <div id="pic-legend">
                                            <p><label class="label" style="background-color: #57FC05;">可分配</label></p>
                                            <p><label class="label" style="background-color: #0BFDBC;">正常居住</label></p>
                                            <p><label class="label" style="background-color: #0B88FD;">挂职居住</label></p>
                                            <p><label class="label" style="background-color: #A00BFD;">部门占用</label></p>
                                            <p><label class="label" style="background-color: #FB0CDB;">仓库</label></p>
                                            <p><label class="label" style="background-color: #B1C893;">保留</label></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="select-room-info">

                    </div>
                </div>
                <!--tab_1_3-->
                <div class="tab-pane" id="tab_1_3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>房间列表
                                    </div>
                                    <div class="tools">
                                        <a href="#" class="collapse">
                                        </a>
                                        <a href="#" data-load="true" data-url="/Apartment/Room/ListByFloor?buildingId=@Model.Parent.BuildingId&floor=@Model.Floor.Number" class="reload">
                                        </a>
                                        <a href="#" class="remove">
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body portlet-empty">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

<script type="text/javascript">
    $(function () {

        var setColor = function (g, roomId) {

            $.getJSON('/Apartment/Room/GetRoom', { id: roomId }, function (response) {
                switch (parseInt(response.ResideType)) {
                    case 0:
                        g.children('[ref=bound]').attr('class', 'fil4');
                        break;
                    case 1:
                        g.children('[ref=bound]').attr('class', 'fil5');
                        break;
                    case 2:
                        g.children('[ref=bound]').attr('class', 'fil6');
                        break;
                    case 3:
                        g.children('[ref=bound]').attr('class', 'fil7');
                        break;
                    case 4:
                        g.children('[ref=bound]').attr('class', 'fil8');
                        break;
                    case 5:
                        g.children('[ref=bound]').attr('class', 'fil9');
                        break;
                }
            });
        }

        Rhea.ajaxLoadSvg($('div#svg'), '@Model.SvgPath', function (svg) {
            $("svg g[id^='g']").toggle(
                function () {
                    var id = $(this).attr('id').toString().substring(1);
                    $(this).children('[ref=bound]').attr('class', 'fil1');

                    var tdoc = $('<div id="s' + id + '" class="col-md-4"></div>');
                    $(tdoc).load('/Apartment/Room/Summary', { id: id });
                    $('#select-room-info').append(tdoc);
                },
                function () {
                    var id = $(this).attr('id').toString().substring(1);
                    //$(this).children('[ref=bound]').attr('class', 'fil0');
                    setColor($(this), id);

                    var tdoc = $('div#s' + id);
                    tdoc.remove();
                }
            );
            
            $('svg').find("g[id^='g']").each(function (i, item) {
                var g = $(item); 
                var id = g.attr('id').toString().substring(1);

                setColor(g, id);
            })

        });

        Apartment.initFloorAction();

        $('.portlet .portlet-title a.reload[data-load="true"]').click();

    });
</script>
